Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

clippy fix
  src/internal/commands/frompath.rs
Labels: rust

update comments
  src/internal/commands/frompath.rs
Labels: rust

feat(`config`): configuration commands can be exported in omnipath (#926)
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/parser/command_definition.rs
  website/contents/reference/configuration/parameters/commands.md
Labels: rust, documentation

feat(void command): support `-h` and `--help` for auto-generated
  src/internal/commands/builtin/scope.rs
  src/internal/commands/loader.rs
  src/main.rs
Labels: rust

feat(void command): support `-h` and `--help` for auto-generated commands (#929)
  src/internal/commands/builtin/scope.rs
  src/internal/commands/loader.rs
  src/main.rs
Labels: rust

feat(`package`): ✨ use `git rev-list` to check if packages are up to date
  src/internal/git/updater.rs
Labels: rust

feat(`package`): ✨ use `git rev-list` to check if packages are up to date (#930)
  src/internal/git/updater.rs
Labels: rust

feat(`github release`): ✨ support for per-os/per-arch asset matching
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust

switch stringfilter to use globset
  src/internal/config/parser/github.rs
Labels: rust

clippy fix
  src/internal/config/parser/github.rs
Labels: rust

fix
  src/internal/config/up/github_release.rs
Labels: rust

fix(`self-update`): use `brew --repository` instead of `--prefix`
  src/internal/env.rs
  src/internal/self_updater.rs
Labels: rust

feat(`github release`): ✨ support for per-os/per-arch asset matching (#931)
  src/internal/cache/github_release.rs
  src/internal/config/parser/github.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust

fix(`self-update`): use `brew --repository` instead of `--prefix` (#936)
  src/internal/env.rs
  src/internal/self_updater.rs
Labels: rust

feat(`github release`): ✨ distinguish install configurations
  src/internal/config/up/github_release.rs
Labels: rust

fix matching installed versions
  src/internal/config/up/github_release.rs
Labels: rust

feat(`github release`): ✨ distinguish install configurations (#940)
  src/internal/config/up/github_release.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

Handle renames safely when not on same device
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/utils/mod.rs
Labels: rust

Move to existing utils file
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
  src/internal/utils/mod.rs
Labels: rust

fix(`node`): 🐛 dynamic environment was not loaded properly
  src/internal/dynenv.rs
Labels: rust

fix: 🐛 handle renames safely when not on same device (#948)
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
Labels: rust

fix(`node`): 🐛 dynamic environment was not loaded properly (#949)
  src/internal/dynenv.rs
Labels: rust

feat(`ruby` and `rust`): ✨ add install isolation
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/mise.rs
  src/internal/dynenv.rs
Labels: rust

clippy fixes
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/directory.rs
Labels: rust

feat(`ruby` and `rust`): ✨ add install isolation (#950)
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
  src/internal/dynenv.rs
Labels: rust

fix(`ruby`): 🐛 remove `rubygems_plugin.rb` file after mise install
  src/internal/config/up/mise.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

slight refactor to avoid hardcoding tool names in multiple places
  src/internal/config/up/mise.rs
Labels: rust

handle the version file prefixes too
  src/internal/config/up/mise.rs
Labels: rust

fix(`ruby`): 🐛 remove `rubygems_plugin.rb` file after mise install (#954)
  src/internal/config/up/mise.rs
Labels: rust

feat(`help`): ✨ show `-h`/`--help` flags for argparser-enabled commands
  src/internal/commands/base.rs
  src/internal/commands/builtin/help.rs
Labels: rust

regenerate fixtures
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-bootstrap.txt
  tests/fixtures/omni/help-config-check.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-reshim.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook-uuid.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-up.txt
Labels: none

feat(`help`): ✨ show `-h`/`--help` flags for argparser-enabled commands (#955)
  src/internal/commands/base.rs
  src/internal/commands/builtin/help.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-bootstrap.txt
  tests/fixtures/omni/help-config-check.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-reshim.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook-uuid.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-up.txt
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/config/parser/up_command.rs
  src/internal/config/utils.rs
Labels: rust

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
