Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

feat(cleanup): ✨ add delay before removing unused resources (#523)
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/config/parser/cache/asdf.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/homebrew.rs
  src/internal/env.rs
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-self.md
Labels: rust, documentation

feat(version): ✨ improve version matching
  src/internal/cache/github_release.rs
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/version.rs
Labels: rust

clippy fixes
  src/internal/config/up/utils/version.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

fix bats tests
  tests/test_omni_up_python.bats
Labels: none

bats tests other fix
  tests/test_omni_up_python.bats
Labels: none

feat(version): ✨ improve version matching (#524)
  src/internal/cache/github_release.rs
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/version.rs
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

feat(asdf): ✨ improve resiliency of asdf operations
  src/internal/cache/asdf_operation.rs
  src/internal/config/up/asdf_base.rs
  tests/fixtures/asdf_operation_cache.json
  tests/fixtures/python-versions.txt
  tests/test_omni_up_python.bats
Labels: rust

clippy fixes
  src/internal/cache/asdf_operation.rs
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(asdf): ✨ improve resiliency of asdf operations (#525)
  src/internal/cache/asdf_operation.rs
  src/internal/config/up/asdf_base.rs
  tests/fixtures/asdf_operation_cache.json
  tests/fixtures/python-versions.txt
  tests/test_omni_up_python.bats
Labels: rust

chore: remove commented code
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(github release): ✨ fallback to installed version if download error
  src/internal/config/up/github_release.rs
Labels: rust

fixes to order installed versions
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/version.rs
Labels: rust

clippy fix
  src/internal/config/up/utils/version.rs
Labels: rust

feat(up options): ✨ add `--fail-on-upgrade` option
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/options.rs
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

feat(homebrew): ✨ do not default to failing on upgrade error
  src/internal/config/up/homebrew.rs
Labels: rust

feat(github release): ✨ fallback to installed version if download error (#528)
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/version.rs
Labels: rust

fix tests
  tests/test_omni_help.bats
Labels: none

feat(up): ✨ add `--fail-on-upgrade` option (#529)
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/options.rs
  tests/test_omni_help.bats
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

feat(homebrew): ✨ do not default to failing on upgrade error (#530)
  src/internal/config/up/homebrew.rs
Labels: rust

chore(deps): bump petname from 1.1.3 to 2.0.1
  Cargo.lock
  Cargo.toml
  src/internal/env.rs
Labels: rust, dependencies

chore(deps): bump petname from 1.1.3 to 2.0.1 (#533)
  Cargo.lock
  Cargo.toml
  src/internal/env.rs
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

test(github release): 🧪 add tests
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
Labels: rust, dependencies

clippy fix
  src/internal/config/up/github_release.rs
Labels: rust

test(github release): 🧪 add tests (#536)
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
Labels: rust, dependencies

docs(shims): 📝 add documentation around shims and IDEs
  website/contents/reference/02-builtin-commands/0250-hook.md
  website/contents/tutorials/02-get-started/0201-install.md
  website/contents/tutorials/04-ide-integration.md
  website/docusaurus.config.js
Labels: documentation, javascript

refactor(shims): ♻️ shims are now always loaded but removed by dynenv
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: rust

add missing imports
  website/contents/tutorials/02-get-started/0201-install.md
Labels: documentation

clippy fixes
  src/internal/commands/builtin/hook/init.rs
Labels: rust

docs(shims): 📝 add documentation around shims and IDEs (#537)
  website/contents/reference/02-builtin-commands/0250-hook.md
  website/contents/tutorials/02-get-started/0201-install.md
  website/contents/tutorials/04-ide-integration.md
  website/docusaurus.config.js
Labels: documentation, javascript

refactor(shims): ♻️ shims are now always loaded but removed by dynenv (#538)
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: rust

chore(github release): 🥅 slightly better error handling
  src/internal/config/up/github_release.rs
Labels: rust

feat(github release): ✨ allow for custom asset name matching
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation, dependencies

feat(env): add OMNI_NONINTERACTIVE env var
  src/internal/env.rs
  website/contents/reference/01-configuration/0103-environment.md
Labels: rust, documentation

fix(up): 🐛 auto-bootstrap disabled on non-interactive shells
  src/internal/commands/builtin/up.rs
Labels: rust

clippy fixes
  src/internal/cache/github_release.rs
Labels: rust

feat(env): add OMNI_NONINTERACTIVE env var (#542)
  src/internal/env.rs
  website/contents/reference/01-configuration/0103-environment.md
Labels: rust, documentation

fix(up): 🐛 auto-bootstrap disabled on non-interactive shells (#543)
  src/internal/commands/builtin/up.rs
Labels: rust

feat(github release): ✨ allow for custom asset name matching (#541)
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation, dependencies
