Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

More fixes for race condition in linux
  .github/workflows/build-and-test-target.yaml
  src/internal/config/up/utils/fifo_handler.rs
Labels: rust, github_actions

feat(`custom`): add support for adding environment variables (#785)
  .github/workflows/build-and-test-target.yaml
  Cargo.lock
  Cargo.toml
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/fifo_handler.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  tests/helpers/utils.bash
  tests/test_omni_up_custom.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: rust, documentation, dependencies, github_actions

chore: remove some commented code
  src/internal/config/up/utils/fifo_handler.rs
Labels: rust

feat(`custom`): allow custom operations to add work directory binaries
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  src/internal/config/up/tool.rs
Labels: rust

remove DESTDIR use, only use PREFIX
  src/internal/config/up/custom.rs
Labels: rust

Add lib/ to LD_LIBRARY_PATH
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: rust, documentation

clippy fix
  src/internal/config/up/custom.rs
Labels: rust

feat(`custom`): allow custom operations to add work directory binaries (#788)
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: rust, documentation

chore(cleanup): correctly delete symlinks
  src/internal/config/up/utils/directory.rs
Labels: rust

fix(cleanup): correctly delete symlinks (#790)
  src/internal/config/up/utils/directory.rs
Labels: rust

WIP
  Cargo.lock
  Cargo.toml
  src/internal/cache/database.rs
  src/internal/cache/migration/mod.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/mod.rs
  src/internal/cache/schemas/create.sql
  src/internal/cache/up_environments.rs
Labels: rust, dependencies

WIP: migrated up_environments
  Cargo.lock
  Cargo.toml
  src/internal/cache/database.rs
  src/internal/cache/loaders.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/mod.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/up_environments_delete_orphaned_env.sql
  src/internal/cache/up_environments.rs
  src/internal/cache/utils.rs
  src/internal/config/up/base.rs
  src/internal/dynenv.rs
Labels: rust, dependencies

WIP: update dynenv
  src/internal/cache/sql/up_environments_add_workdir_history.sql
  src/internal/cache/sql/up_environments_cleanup_history_duplicate_opens.sql
  src/internal/cache/sql/up_environments_cleanup_history_max_per_workdir.sql
  src/internal/cache/sql/up_environments_cleanup_history_max_total.sql
  src/internal/cache/sql/up_environments_cleanup_history_retention.sql
  src/internal/cache/sql/up_environments_clear_workdir_env.sql
  src/internal/cache/sql/up_environments_close_workdir_history.sql
  src/internal/cache/sql/up_environments_get_env_ids.sql
  src/internal/cache/sql/up_environments_get_workdir_env.sql
  src/internal/cache/sql/up_environments_insert_env_version.sql
  src/internal/cache/sql/up_environments_set_workdir_env.sql
  src/internal/cache/up_environments.rs
  src/internal/dynenv.rs
Labels: rust

WIP: copy the cache structures to the migration file before moving them to sqlite
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/up_environments.rs
Labels: rust

WIP: asdf operation, refactoring the required_by
  src/internal/cache/asdf_operation.rs
  src/internal/cache/database.rs
  src/internal/cache/loaders.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/config/up/asdf_base.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

WIP: asdf operation done
  src/internal/cache/asdf_operation.rs
  src/internal/cache/database.rs
  src/internal/cache/loaders.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/sql/asdf_operation_add_installed.sql
  src/internal/cache/sql/asdf_operation_add_required_by.sql
  src/internal/cache/sql/asdf_operation_get_plugin_versions.sql
  src/internal/cache/sql/asdf_operation_get_required_by.sql
  src/internal/cache/sql/asdf_operation_list_removable.sql
  src/internal/cache/sql/asdf_operation_should_update_asdf.sql
  src/internal/cache/sql/asdf_operation_should_update_plugin.sql
  src/internal/cache/sql/asdf_operation_updated_asdf.sql
  src/internal/cache/sql/asdf_operation_updated_plugin.sql
  src/internal/cache/sql/asdf_operation_updated_plugin_versions.sql
  src/internal/cache/sql/create_tables.sql
  src/internal/config/up/asdf_base.rs
Labels: rust

WIP: add deletion of the asdf tool from the cache db
  src/internal/cache/asdf_operation.rs
  src/internal/cache/sql/asdf_operation_remove.sql
Labels: rust

WIP: homebrew operation
  .omni.yaml
  src/internal/cache/asdf_operation.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/loaders.rs
  src/internal/cache/mod.rs
  src/internal/cache/sql/asdf_operation_add_installed.sql
  src/internal/cache/sql/asdf_operation_add_required_by.sql
  src/internal/cache/sql/asdf_operation_updated_asdf.sql
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/homebrew_operation_add_install.sql
  src/internal/cache/sql/homebrew_operation_add_install_required_by.sql
  src/internal/cache/sql/homebrew_operation_add_tap.sql
  src/internal/cache/sql/homebrew_operation_add_tap_required_by.sql
  src/internal/cache/sql/homebrew_operation_checked_install.sql
  src/internal/cache/sql/homebrew_operation_get_bin_path.sql
  src/internal/cache/sql/homebrew_operation_get_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_list_removable_install.sql
  src/internal/cache/sql/homebrew_operation_list_removable_tap.sql
  src/internal/cache/sql/homebrew_operation_remove_install.sql
  src/internal/cache/sql/homebrew_operation_remove_tap.sql
  src/internal/cache/sql/homebrew_operation_set_bin_path.sql
  src/internal/cache/sql/homebrew_operation_set_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_should_check_install.sql
  src/internal/cache/sql/homebrew_operation_should_update_homebrew.sql
  src/internal/cache/sql/homebrew_operation_should_update_install.sql
  src/internal/cache/sql/homebrew_operation_should_update_tap.sql
  src/internal/cache/sql/homebrew_operation_updated_homebrew.sql
  src/internal/cache/sql/homebrew_operation_updated_install.sql
  src/internal/cache/sql/homebrew_operation_updated_tap.sql
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
Labels: rust

WIP: update migration
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/sql/create_tables.sql
Labels: rust

WIP: remove unneeeded code
  src/internal/cache/homebrew_operation.rs
Labels: rust

WIP: add tests
  src/internal/cache/asdf_operation.rs
  src/internal/cache/database.rs
  src/internal/cache/sql/asdf_operation_add_required_by.sql
  src/internal/cache/sql/create_tables.sql
  src/internal/mod.rs
Labels: rust

WIP: add tests
  src/internal/cache/database.rs
  src/internal/cache/sql/up_environments_check_env_version_exists.sql
  src/internal/cache/sql/up_environments_get_workdir_history_open.sql
  src/internal/cache/up_environments.rs
  src/internal/testutils.rs
Labels: rust

WIP: more tests
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/homebrew_operation_add_install.sql
  src/internal/cache/sql/homebrew_operation_add_install_required_by.sql
  src/internal/cache/sql/homebrew_operation_add_tap_required_by.sql
  src/internal/cache/sql/homebrew_operation_checked_install.sql
  src/internal/cache/sql/homebrew_operation_get_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_list_removable_install.sql
  src/internal/cache/sql/homebrew_operation_remove_install.sql
  src/internal/cache/sql/homebrew_operation_set_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_should_check_install.sql
  src/internal/cache/sql/homebrew_operation_should_update_install.sql
  src/internal/cache/sql/homebrew_operation_updated_install.sql
Labels: rust

WIP: rename some tables
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/homebrew_operation_add_install.sql
  src/internal/cache/sql/homebrew_operation_add_install_required_by.sql
  src/internal/cache/sql/homebrew_operation_add_tap.sql
  src/internal/cache/sql/homebrew_operation_add_tap_required_by.sql
  src/internal/cache/sql/homebrew_operation_checked_install.sql
  src/internal/cache/sql/homebrew_operation_get_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_list_removable_install.sql
  src/internal/cache/sql/homebrew_operation_list_removable_tap.sql
  src/internal/cache/sql/homebrew_operation_remove_install.sql
  src/internal/cache/sql/homebrew_operation_remove_tap.sql
  src/internal/cache/sql/homebrew_operation_set_install_bin_paths.sql
  src/internal/cache/sql/homebrew_operation_should_check_install.sql
  src/internal/cache/sql/homebrew_operation_should_update_install.sql
  src/internal/cache/sql/homebrew_operation_should_update_tap.sql
  src/internal/cache/sql/homebrew_operation_updated_install.sql
  src/internal/cache/sql/homebrew_operation_updated_tap.sql
Labels: rust

WIP: migrate github releases cache
  src/internal/cache/github_release.rs
  src/internal/cache/loaders.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/github_release_operation_add_install.sql
  src/internal/cache/sql/github_release_operation_add_install_required_by.sql
  src/internal/cache/sql/github_release_operation_add_releases.sql
  src/internal/cache/sql/github_release_operation_cleanup.sql
  src/internal/cache/sql/github_release_operation_get_releases.sql
  src/internal/cache/sql/github_release_operation_list_installed.sql
  src/internal/cache/sql/up_environments_get_env_ids.sql
  src/internal/cache/up_environments.rs
  src/internal/config/up/github_release.rs
Labels: rust

WIP: add tests for github releases
  src/internal/cache/github_release.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/github_release_operation_add_install.sql
  src/internal/cache/sql/github_release_operation_add_install_required_by.sql
  src/internal/cache/sql/github_release_operation_cleanup.sql
  src/internal/cache/sql/github_release_operation_list_installed.sql
  src/internal/cache/sql/up_environments_get_env_ids.sql
  src/internal/cache/up_environments.rs
Labels: rust

cargo fixes
  src/internal/cache/database.rs
  src/internal/cache/github_release.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/config/up/homebrew.rs
Labels: rust

WIP: migrate prompts cache
  src/internal/cache/asdf_operation.rs
  src/internal/cache/loaders.rs
  src/internal/cache/prompts.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/cache/sql/prompts_add_answer.sql
  src/internal/cache/sql/prompts_get_answers.sql
  src/internal/config/parser/prompts.rs
  src/internal/config/template.rs
Labels: rust

WIP: omnipath
  src/internal/cache/omnipath.rs
  src/internal/git/updater.rs
Labels: rust

WIP: add tests for omnipath
  src/internal/cache/database.rs
  src/internal/cache/loaders.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/sql/omnipath_clear_update_error_log.sql
  src/internal/cache/sql/omnipath_get_update_error_log.sql
  src/internal/cache/sql/omnipath_get_updated_at.sql
  src/internal/cache/sql/omnipath_set_update_error_log.sql
  src/internal/cache/sql/omnipath_set_updated_at.sql
  src/internal/cache/sql/omnipath_should_update.sql
  src/internal/cache/utils.rs
  src/internal/git/updater.rs
Labels: rust

WIP: repositoriescache
  src/internal/cache/handler.rs
  src/internal/cache/loaders.rs
  src/internal/cache/mod.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/repositories.rs
  src/internal/cache/utils.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/up.rs
  src/internal/workdir.rs
Labels: rust

WIP: workdirs cache instead of repositories
  src/internal/cache/mod.rs
  src/internal/cache/sql/workdir_fingerprint_check.sql
  src/internal/cache/sql/workdir_fingerprint_remove.sql
  src/internal/cache/sql/workdir_fingerprint_upsert.sql
  src/internal/cache/sql/workdir_trusted_add.sql
  src/internal/cache/sql/workdir_trusted_check.sql
  src/internal/cache/sql/workdir_trusted_remove.sql
  src/internal/cache/workdirs.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/up.rs
  src/internal/workdir.rs
Labels: rust

WIP: add tests for workdirs cache
  src/internal/cache/sql/workdir_fingerprint_check.sql
  src/internal/cache/workdirs.rs
Labels: rust

clippy fixes
  src/internal/cache/omnipath.rs
  src/internal/cache/prompts.rs
  src/internal/cache/workdirs.rs
Labels: rust

Add tests for the migration
  src/internal/cache/database.rs
  src/internal/cache/migration/predatabase.rs
Labels: rust

Some fixes for the migration
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/sql/create_tables.sql
  src/internal/testutils.rs
Labels: rust

clippy fix
  src/internal/cache/database.rs
Labels: rust

remove run_with_env_and_cache and merge into run_with_env
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/prompts.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/workdirs.rs
  src/internal/config/up/github_release.rs
  src/internal/testutils.rs
Labels: rust
