Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

more clippy fix
  src/internal/config/up/python.rs
Labels: rust

feat(python): ✨🐍 add venv support (#277)
  Cargo.lock
  Cargo.toml
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/error.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  src/internal/env.rs
Labels: rust, dependencies

chore(lints): 💅 cargo fixes
  src/internal/config/up/homebrew.rs
  src/internal/config/up/utils.rs
Labels: rust

Remove empty line
  src/internal/config/up/utils.rs
Labels: rust

build(tests): 👷 make test run for each pull-request
  .github/workflows/tests.yaml
Labels: github_actions

feat(config commands): ✨ add support for `dir` parameter
  .omni.yaml
  src/internal/commands/base.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: rust, documentation

feat(config commands): ✨ add support for `dir` parameter (#280)
  .omni.yaml
  src/internal/commands/base.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: rust, documentation

feat(up tools): ✨ better cleanup for data paths
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
Labels: rust

clippy fix
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(up tools): ✨ better cleanup for data paths (#282)
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
Labels: rust

feat(up golang): ✨ Add GOPATH isolation for gcalls to go install
  Cargo.lock
  Cargo.toml
  src/internal/commands/utils.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
Labels: rust, dependencies

Clippy fixes
  src/internal/config/up/golang.rs
  src/internal/config/up/utils.rs
Labels: rust

fix(self update): 🐛 show error message when failing to update
  src/internal/self_updater.rs
Labels: rust

feat(up golang): ✨ Add GOPATH isolation for gcalls to go install (#283)
  Cargo.lock
  Cargo.toml
  src/internal/commands/utils.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
Labels: rust, dependencies

fix(self update): 🐛 show error message when failing to update (#284)
  src/internal/self_updater.rs
Labels: rust

chore(rustfmt): add configuration for rustfmt
  .rustfmt.toml
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/commands/utils.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
  src/internal/git/org.rs
  src/internal/self_updater.rs
Labels: rust

feat(python operation): ✨ Add support for pip install
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
  src/internal/dynenv.rs
Labels: rust

Add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
Labels: documentation

feat(python operation): ✨ Add support for pip install (#285)
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
Labels: rust, documentation

feat(golang operation): ✨ improve golang isolation to maintain shared cache
  src/internal/dynenv.rs
Labels: rust

feat(golang operation): ✨ improve golang isolation to maintain shared… (#287)
  src/internal/dynenv.rs
Labels: rust

feat(packages): ✨ use a separate cache of dependencies
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/homebrew.rs
  src/internal/dynenv.rs
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/workdir.rs
Labels: rust

clippy fix
  src/internal/commands/builtin/config/path/switch.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(packages): ✨ use a separate cache of dependencies (#288)
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/homebrew.rs
  src/internal/dynenv.rs
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/workdir.rs
Labels: rust

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
Labels: rust

feat(config commands): ✨ trust the commands not coming froom a workdir
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/mod.rs
  src/internal/config/parser.rs
Labels: rust

feat(config commands): ✨ trust the global-scoped configuration commands (#300)
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/mod.rs
  src/internal/config/parser.rs
Labels: rust

fix(updater): 🐛 pre-authentication configuration check was inverted
  src/internal/git/updater.rs
Labels: rust

refactor(base62): ♻️ build in the base 62 encoding function
  Cargo.lock
  Cargo.toml
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/internal/mod.rs
Labels: rust, dependencies

refactor(base62): ♻️ build in the base 62 encoding function
  Cargo.lock
  Cargo.toml
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/internal/mod.rs
  src/internal/utils/base62.rs
  src/internal/utils/mod.rs
Labels: rust, dependencies

feat(status): ✨ now takes arguments
  src/internal/commands/builtin/status.rs
Labels: rust

clippy fix
  src/internal/commands/builtin/status.rs
Labels: rust

Add autocompletion
  src/internal/commands/builtin/status.rs
Labels: rust

feat(status): ✨ now takes arguments (#306)
  src/internal/commands/builtin/status.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
