Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

other fix
  .github/workflows/tests.yaml
Labels: github_actions

fix(cd): autocompletion for / and ~/ paths (#419)
  .github/workflows/tests.yaml
  shell_integration/omni.bash.tmpl
  src/internal/cache/handler.rs
  src/internal/commands/builtin/cd.rs
  src/internal/config/config_value.rs
  tests/test_omni_help.bats
Labels: rust, github_actions

feat(homebrew): detecting cask bin directories
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/frompath.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/utils.rs
  src/internal/env.rs
  src/internal/self_updater.rs
Labels: rust

fix clippy
  src/internal/config/up/homebrew.rs
Labels: rust

feat(homebrew): detecting cask bin directories (#420)
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/frompath.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/utils.rs
  src/internal/env.rs
  src/internal/self_updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(nix): ✨ add nix up operation
  src/internal/cache/up_environments.rs
  src/internal/config/parser/env.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-nix.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation

Clippy fixes
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/nix.rs
Labels: rust

Last clippy fix
  src/internal/config/parser/env.rs
Labels: rust

feat(nix): ✨ add nix up operation (#428)
  src/internal/cache/up_environments.rs
  src/internal/config/parser/env.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-nix.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation

feat(up): ✨ add dependencies handling and 'or' and 'and' operations
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
Labels: rust

clippy fixes
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
Labels: rust

Add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-and.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-or.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: documentation

More clippy fixes
  src/internal/config/up/homebrew.rs
Labels: rust

fix doc link
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-and.md
Labels: documentation

feat(up): ✨ add dependencies handling and 'or' and 'and' operations (#429)
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-and.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-or.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(cd): ✨ special path '...' now represents the root of current work directory
  .github/workflows/tests.yaml
  src/internal/commands/builtin/cd.rs
  website/contents/reference/02-builtin-commands/0250-cd.md
Labels: rust, documentation, github_actions

feat(cd): ✨ special path '...' now represents the root of current work directory (#433)
  .github/workflows/tests.yaml
  src/internal/commands/builtin/cd.rs
  website/contents/reference/02-builtin-commands/0250-cd.md
Labels: rust, documentation, github_actions

feat(config): ✨ Add system-level configuration files
  src/internal/config/loader.rs
  src/internal/config/parser/omniconfig.rs
  website/contents/reference/01-configuration/0101-files.md
Labels: rust, documentation

feat(config): ✨ Add system-level configuration files (#438)
  src/internal/config/loader.rs
  src/internal/config/parser/omniconfig.rs
  website/contents/reference/01-configuration/0101-files.md
Labels: rust, documentation

fix(up hash): 🐛 detect when `env` parameter has changed
  src/internal/config/parser/omniconfig.rs
Labels: rust

fix(up hash): 🐛 detect when `env` parameter has changed (#440)
  src/internal/config/parser/omniconfig.rs
Labels: rust

feat(homebrew): ✨ handle proper cleanup
  src/internal/config/up/base.rs
  src/internal/config/up/homebrew.rs
Labels: rust

clippy fix
  src/internal/config/up/homebrew.rs
Labels: rust

fix cleanup
  src/internal/cache/homebrew_operation.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
Labels: rust

remove debug message
  src/internal/config/up/homebrew.rs
Labels: rust

fix: 🐛 Add truncate policy when opening files
  src/internal/cache/handler.rs
  src/internal/config/loader.rs
  src/internal/self_updater.rs
Labels: rust

fix(up env cache): 🐛 add default deserialization
  src/internal/cache/up_environments.rs
  src/internal/config/parser/env.rs
Labels: rust

fix: 🐛 Add truncate policy when opening files (#448)
  src/internal/cache/handler.rs
  src/internal/config/loader.rs
  src/internal/self_updater.rs
Labels: rust

fix(asdf): 🐛 add missing dependency for Python and clear env vars
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(homebrew): ✨ handle proper cleanup (#442)
  src/internal/cache/homebrew_operation.rs
  src/internal/config/up/base.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
Labels: rust

fix(asdf): 🐛 add missing dependency for Python and clear env vars (#450)
  src/internal/config/up/asdf_base.rs
Labels: rust

fix(up env cache): 🐛 add default deserialization (#449)
  src/internal/cache/up_environments.rs
  src/internal/config/parser/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/cache/up_environments.rs
Labels: rust

feat(sudo): ✨ handle password requests during `omni up`
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/up/askpass.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/main.rs
  templates/askpass.sh.tmpl
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: rust, dependencies, github_actions
