Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

WIP
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/utils.rs
Labels: rust

WIP
  Cargo.lock
  Cargo.toml
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

WIP
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/parsed_repo_url.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

clean up and align with tests
  src/internal/git/org.rs
Labels: rust

clippy fixes
  src/internal/commands/builtin/clone.rs
Labels: rust

Address improvement comments
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/up.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/utils.rs
Labels: rust

chore(deps): bump git-url-parse from 0.4.6 to 0.6.0 (#1207)
  Cargo.lock
  Cargo.toml
  src/internal/cache/prompts.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/template.rs
  src/internal/env.rs
  src/internal/errors.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
  src/internal/git/updater.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
Labels: rust, dependencies

feat(`tidy`): ignore paths that should be ignored
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/template.rs
  src/internal/errors.rs
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/utils_test.rs
  tests/test_omni_tidy.bats
Labels: rust

feat(`tidy`): ignore paths that should be ignored (#1209)
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/template.rs
  src/internal/errors.rs
  src/internal/git/org.rs
  src/internal/git/org_test.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/utils_test.rs
  tests/test_omni_tidy.bats
Labels: rust

Add new command
  src/internal/commands/builtin/mod.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/loader.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/omniconfig.rs
  tests/helpers/utils.bash
  tests/test_omni_sandbox.bats
Labels: rust

Make the sandbox name align with one of the dependencies names
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
Labels: rust

WIP
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/env.rs
  src/internal/mod.rs
  tests/test_omni_sandbox.bats
Labels: rust

Add tests
  src/internal/commands/builtin/sandbox_test.rs
Labels: rust

auto-cd, trust and up
  src/internal/commands/builtin/sandbox.rs
Labels: rust

cd <sandbox> now works
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

add sandbox names to autocompletion
  src/internal/commands/utils.rs
Labels: rust

move validate_sandbox_name function
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/commands/utils.rs
Labels: rust

Add --empty flag to be used to disable dependencies
  src/internal/commands/builtin/sandbox.rs
Labels: rust

add to shell integration support for running commands always/on error/on success (default to success for compatibility)
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: none

Add disposition support for omni_cmd
  src/internal/commands/utils.rs
Labels: rust

Always cd to the sandbox
  src/internal/commands/builtin/sandbox.rs
Labels: rust

remove unused functions
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/utils.rs
Labels: rust

clippy fix
  src/internal/git/org.rs
Labels: rust

Use --allow-empty instead of --empty for the sandbox options so that it's aligned with git and others
  src/internal/commands/builtin/sandbox.rs
Labels: rust

Add documentation
  src/internal/commands/builtin/sandbox.rs
  website/contents/reference/builtin-commands/overview.md
  website/contents/reference/builtin-commands/sandbox.md
Labels: rust, documentation

create directory hierarchy if unexisting
  src/internal/commands/builtin/sandbox.rs
  website/contents/reference/builtin-commands/sandbox.md
Labels: rust, documentation

update docs
  website/contents/reference/builtin-commands/sandbox.md
Labels: documentation

fix required_without
  src/internal/commands/builtin/sandbox.rs
Labels: rust
