Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

Replace password type by prompt
  src/internal/config/up/askpass.rs
  src/main.rs
  templates/askpass.sh.tmpl
Labels: rust

tweaks after testing with ssh askpass
  Cargo.lock
  src/internal/config/up/askpass.rs
  src/main.rs
  templates/askpass.sh.tmpl
Labels: rust, dependencies

clippy fixes
  src/internal/config/up/askpass.rs
  src/internal/env.rs
  src/main.rs
Labels: rust

more clippy fix
  src/internal/config/up/askpass.rs
Labels: rust

feat(sudo): ✨ handle password requests during `omni up` (#456)
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/up/askpass.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/main.rs
  templates/askpass.sh.tmpl
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: rust, dependencies, github_actions

tests: 🧪 add more tests
  src/internal/config/up/askpass.rs
  src/internal/config/up/utils.rs
  tests/helpers/utils.bash
  tests/test_omni_cd.bats
Labels: rust

add homebrew install tests
  src/internal/config/up/utils.rs
  tests/helpers/utils.bash
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
Labels: rust

add omni config for tests
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
Labels: none

fix bootstrap to only request on interactive shells
  src/internal/config/bootstrap.rs
Labels: rust

update check for user config to trigger bootstrap
  src/internal/config/bootstrap.rs
  src/internal/config/loader.rs
Labels: rust

move from command -v to which crate for checking brew/nix availability
  Cargo.lock
  Cargo.toml
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
Labels: rust, dependencies

debugging tests
  tests/helpers/utils.bash
Labels: none

generalize project dir to work for CI
  .github/workflows/build-and-test-target.yaml
  tests/helpers/utils.bash
Labels: github_actions

fix env var
  tests/helpers/utils.bash
Labels: none

check fakebin target exists
  tests/helpers/utils.bash
Labels: none

Add missing fixtures
  tests/fixtures/bin/generic.sh
Labels: none

fix brew env
  src/internal/config/up/homebrew.rs
  tests/helpers/utils.bash
Labels: rust

fix other call to brew prefix
  tests/test_omni_up_python.bats
Labels: none

try putting tests in parallel
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

install gnu parallel
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

more recent version of bash
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

split brew install on two lines
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

blah
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

tests: 🧪 add more tests (#461)
  .github/workflows/build-and-test-target.yaml
  Cargo.lock
  Cargo.toml
  src/internal/config/bootstrap.rs
  src/internal/config/loader.rs
  src/internal/config/up/askpass.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/utils.rs
  tests/fixtures/bin/generic.sh
  tests/helpers/utils.bash
  tests/test_omni_cd.bats
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
Labels: rust, dependencies, github_actions

fix(help): 🐛 handle lower terminal width properly
  src/internal/commands/builtin/help.rs
  src/internal/user_interface/print.rs
  tests/helpers/utils.bash
  tests/test_omni_help.bats
Labels: rust

clippy fixes
  src/internal/commands/builtin/help.rs
Labels: rust

fix(help): 🐛 handle lower terminal width properly (#463)
  src/internal/commands/builtin/help.rs
  src/internal/user_interface/print.rs
  tests/helpers/utils.bash
  tests/test_omni_help.bats
Labels: rust

feat(up): ✨ add the `any` operation and `preferred_tools` config
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/tool.rs
Labels: rust

clippy fix
  src/internal/config/up/tool.rs
Labels: rust

add documentation
  src/internal/commands/builtin/help.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-any.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

fix
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-any.md
Labels: documentation

feat(up): ✨ add the `any` operation and `preferred_tools` config (#465)
  src/internal/commands/builtin/help.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-any.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

feat(git): ✨ handle askpass for git updates
  src/internal/config/up/utils.rs
  src/internal/git/updater.rs
  tests/test_omni_up_python.bats
Labels: rust

clippy fix
  src/internal/config/up/utils.rs
Labels: rust

feat(git): ✨ handle askpass for git updates (#468)
  src/internal/config/up/utils.rs
  src/internal/git/updater.rs
  tests/test_omni_up_python.bats
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

fix(spinners): 🐛 new lines are now ensured properly after a spinner
  .github/workflows/tests.yaml
  src/internal/config/up/utils.rs
  src/internal/user_interface/mod.rs
  src/internal/user_interface/print.rs
Labels: rust, github_actions

fix(spinners): 🐛 new lines are now ensured properly after a spinner (#473)
  .github/workflows/tests.yaml
  src/internal/config/up/utils.rs
  src/internal/user_interface/mod.rs
  src/internal/user_interface/print.rs
Labels: rust, github_actions

feat(askpass): ✨ add configuration for the askpass handling
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/up/askpass.rs
  templates/askpass.sh.tmpl
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-askpass.md
Labels: rust, documentation
