Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore: fix clippy errors
  src/internal/config/up/asdf_base.rs
  src/internal/git/org.rs
Labels: rust

chore: fix clippy errors (#596)
  src/internal/config/up/asdf_base.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat: Add `--local` global flag
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/parser/path.rs
  src/main.rs
  website/contents/reference/01-configuration/0103-environment.md
Labels: rust, documentation

clippy fixes
  src/internal/commands/frompath.rs
  src/internal/config/parser/path.rs
Labels: rust

feat: Add `--local` global flag (#601)
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/parser/path.rs
  src/main.rs
  website/contents/reference/01-configuration/0103-environment.md
Labels: rust, documentation

feat(github release): support checksum validation
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/version.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation, dependencies

clippy fixes
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/version.rs
Labels: rust

more clippy fix
  src/internal/config/up/github_release.rs
Labels: rust

feat(github release): support checksum validation (#603)
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/version.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation, dependencies

docs(github release): 📝 update mention about authentication
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: documentation

docs(github release): 📝 add mention about checksums verification
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

build(sign): 🔐 use Cosign to keyless sign archives
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

fix missing file for core
  .github/workflows/tests.yaml
Labels: github_actions

remove condition and add --yes
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

fix signature verification
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

Add parameter to decide whether to sign or note the assets
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

remove bash mention for the os/container dependencies
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

build(sign): 🔐 use Cosign to keyless sign archives (#610)
  .github/workflows/build-and-test-target.yaml
  .github/workflows/tests.yaml
Labels: github_actions

feat(homebrew): ✨ update taps using git
  src/internal/cache/homebrew_operation.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/up/homebrew.rs
Labels: rust

feat(homebrew): ✨ update taps using git (#612)
  src/internal/cache/homebrew_operation.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/up/homebrew.rs
Labels: rust

build(attestation): 👷 attest build provenance on release
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: github_actions

build(attestation): 👷 attest build provenance on release (#616)
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: github_actions

feat(nodejs): ✨ handle engine versions
  Cargo.lock
  Cargo.toml
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/dynenv.rs
Labels: rust, dependencies

clippy fixes
  src/internal/config/up/nodejs.rs
Labels: rust

ignore iojs engine
  src/internal/config/up/nodejs.rs
Labels: rust

Add support for package installation
  src/internal/config/up/nodejs.rs
  website/package.json
Labels: rust, javascript, dependencies

with this new version, packages will be installed without separate custom command
  .omni.yaml
Labels: none

clippy fixes
  src/internal/config/up/nodejs.rs
Labels: rust

Add install_engines and install_packages configuration parameters for nodejs
  src/internal/config/up/nodejs.rs
Labels: rust

add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-bash.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-ruby.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-rust.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-terraform.md
Labels: documentation

fix doc
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
Labels: documentation

feat(nodejs): ✨ handle engine versions and package installs (#617)
  .omni.yaml
  Cargo.lock
  Cargo.toml
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-bash.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-ruby.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-rust.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-terraform.md
  website/package.json
Labels: rust, documentation, javascript, dependencies

refactor(python): ♻️ handle params as separate struct
  src/internal/config/up/python.rs
Labels: rust

refactor(python): ♻️ handle params as separate struct (#619)
  src/internal/config/up/python.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies
