Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

build(labeler): 👷 fix configuration path
  .github/workflows/pull-requests-labeler.yaml
Labels: github_actions

build(labeler): 👷 add sync-labels option
  .github/workflows/pull-requests-labeler.yaml
Labels: github_actions

chore(deps): 📦 cargo update (#216)
  Cargo.lock
Labels: rust, dependencies

build(clippy fixes): 👷 add an auto-pr for clippy fixes
  .github/workflows/auto-pr/cargo-dependencies.yaml
  .github/workflows/auto-pr/clippy-fix.yaml
  .github/workflows/auto-pr/yarn-dependencies.yaml
  .github/workflows/tests.yaml
Labels: github_actions

build(auto-pr): 👷 re-organize auto-pr workflows
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
  .github/workflows/tests.yaml
Labels: github_actions

build(cargo fix): 👷 disable verbosity
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

build(cargo fix): 👷 only enable default features of clippy fix
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

build(cargo fix): 👷 fix git diff order
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

build(cargo fix): 👷 unzip should overwrite
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

build(cargo fix): 👷 archive the correct files
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

chore(lints): 💅 cargo fixes
  build.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/user_interface/mod.rs
Labels: rust

build(cargo fix): 👷 re-enable all features
  .github/workflows/auto-pr-cargo-fixes.yaml
Labels: github_actions

Add even more lints
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/loader.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/dynenv.rs
  src/internal/env.rs
  src/internal/git/org.rs
Labels: rust

Add even more more lints
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/env.rs
Labels: rust

Add again more lints
  src/internal/cache/handler.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/env.rs
Labels: rust

fix
  .github/workflows/rust-clippy.yaml
Labels: github_actions

fix
  .github/workflows/rust-clippy.yaml
Labels: github_actions

Fix
  .github/workflows/rust-clippy.yaml
Labels: github_actions

build(clippy): 👷 test clippy CodeQL analysis
  .github/workflows/rust-clippy.yaml
Labels: github_actions

move rules to tests
  .github/workflows/rust-clippy.yaml
  .github/workflows/tests.yaml
Labels: github_actions

build(clippy): 👷 add clippy CodeQL analysis (#223)
  .github/workflows/tests.yaml
Labels: github_actions

chore(lints): 💅 other refactors for better lint
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/void.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/homebrew.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
  src/internal/user_interface/print.rs
  src/internal/workdir.rs
Labels: rust

build(auth): 👷🔐 use github app tokens for operations requiring a token
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: github_actions

build(auth): 👷🔐 use github app tokens for operations requiring a token (#226)
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat: ✨ packages support for `scope` command
  src/internal/commands/builtin/scope.rs
Labels: rust

chore(help): add missing parameters help for `config bootstrap`
  src/internal/commands/builtin/config/bootstrap.rs
Labels: rust

feat: ✨ packages support for `scope` command (#233)
  src/internal/commands/builtin/scope.rs
Labels: rust

feat: ✨ Add configuration of the shell aliases for the init hook
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-shell_aliases.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

feat: ✨ Add configuration of the shell aliases for the init hook (#234)
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-shell_aliases.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

docs: sort parameters in overview
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
Labels: documentation

feat: ✨ machine id will try and fallback tto use hostname
  Cargo.lock
  Cargo.toml
  src/internal/env.rs
Labels: rust, dependencies

Avoid redundant closure
  src/internal/env.rs
Labels: rust

feat: ✨ machine id will try and fallback to use hostname (#237)
  Cargo.lock
  Cargo.toml
  src/internal/env.rs
Labels: rust, dependencies

refactor(env): ♻️ decommission the env struct in favor of lazy_static
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/commands/path.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/env.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
  src/internal/git/utils.rs
  src/internal/mod.rs
  src/internal/self_updater.rs
  src/internal/user_interface/colors.rs
  src/internal/workdir.rs
Labels: rust

refactor(env): ♻️ decommission the env struct in favor of lazy_static (#238)
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/commands/path.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/homebrew.rs
  src/internal/env.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
  src/internal/git/utils.rs
  src/internal/mod.rs
  src/internal/self_updater.rs
  src/internal/user_interface/colors.rs
  src/internal/workdir.rs
Labels: rust

docs(builtin commands): update parameters for commands
  website/contents/reference/02-builtin-commands/0250-cd.md
  website/contents/reference/02-builtin-commands/0250-clone.md
  website/contents/reference/02-builtin-commands/0250-config/0250-bootstrap.md
  website/contents/reference/02-builtin-commands/0250-config/0250-path/0250-switch.md
  website/contents/reference/02-builtin-commands/0250-help.md
  website/contents/reference/02-builtin-commands/0250-hook.md
  website/contents/reference/02-builtin-commands/0250-scope.md
  website/contents/reference/02-builtin-commands/0250-tidy.md
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

feat: ✨ save log files when subprocesses fail
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  src/internal/config/up/utils.rs
  src/internal/git/updater.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - '**/*.rs'
  - 'Cargo.toml'
  - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - '**/*.js'
  - '**/*.ts'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - 'Cargo.toml'
  - 'Cargo.lock'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - '.github/**/*.yaml'
