Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

remove dead code
  src/internal/self_updater.rs
Labels: rust

move use
  src/internal/self_updater.rs
Labels: rust

feat(`self-update`): use the `github-release` operation for non-brew self-updates (#1228)
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
  Cargo.toml
  README.md
  build.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust, documentation, dependencies, github_actions

extend parsed_repo_url
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust

make cd work
  src/internal/commands/builtin/cd.rs
Labels: rust

remove unused loop
  src/internal/git/parsed_repo_url.rs
Labels: rust

clippy
  src/internal/git/parsed_repo_url.rs
Labels: rust

simplify type
  src/internal/git/parsed_repo_url.rs
Labels: rust

add two bitbucket format extractions
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust

add lineno support
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust

special case
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/cd.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust, dependencies

Add omni cd --edit
  src/internal/commands/builtin/cd.rs
Labels: rust

fixes
  src/internal/commands/builtin/cd.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
Labels: rust

clippy
  src/internal/git/parsed_repo_url.rs
Labels: rust

handle ref comparison
  src/internal/commands/builtin/cd.rs
Labels: rust

replace eprintln
  src/internal/commands/builtin/cd.rs
Labels: rust

handle different ref better
  src/internal/commands/builtin/cd.rs
Labels: rust

handle interactivity better
  src/internal/commands/builtin/cd.rs
Labels: rust

add repo reference in message
  src/internal/commands/builtin/cd.rs
Labels: rust

update fixtures
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-cd.txt
Labels: none

update docs
  website/contents/reference/builtin-commands/cd.md
Labels: documentation

handle range selection
  src/internal/commands/builtin/cd.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
  website/contents/reference/builtin-commands/cd.md
Labels: rust, documentation

feat(`cd`): support full git URLs, and `--edit` flag to open the editor (#1229)
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/cd.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-cd.txt
  website/contents/reference/builtin-commands/cd.md
Labels: rust, documentation, dependencies

wip
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/config/loader.rs
Labels: rust

wip
  src/internal/commands/builtin/sandbox.rs
Labels: rust

wip
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/testutils.rs
Labels: rust

wip
  src/internal/commands/builtin/sandbox.rs
Labels: rust

wip
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
Labels: rust

Update src/internal/testutils.rs
  src/internal/testutils.rs
Labels: rust

Update src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox.rs
Labels: rust

update docs
  website/contents/reference/builtin-commands/sandbox.md
Labels: documentation

clippy fix
  src/internal/commands/builtin/sandbox.rs
Labels: rust

document enum
  src/internal/commands/builtin/sandbox.rs
Labels: rust

handle malformed up key
  src/internal/commands/builtin/sandbox.rs
Labels: rust

simplify
  src/internal/commands/builtin/sandbox.rs
Labels: rust

fix test
  tests/test_omni_sandbox.bats
Labels: none

feat(`sandbox`): allow the command to work for existing directories (#1230)
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/config/loader.rs
  src/internal/testutils.rs
  tests/test_omni_sandbox.bats
  website/contents/reference/builtin-commands/sandbox.md
Labels: rust, documentation

fix(`config check`): fix some false reports
  src/internal/config/parser/env.rs
  src/internal/config/up/python.rs
Labels: rust

fix(`config check`): fix some false reports (#1231)
  src/internal/config/parser/env.rs
  src/internal/config/up/python.rs
Labels: rust

chore(deps): update cargo dependencies
  Cargo.lock
Labels: rust, dependencies
