Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

Remove security key listener
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/config/up/utils/security_key.rs
  src/internal/git/updater.rs
Labels: rust

finish removing security key listener
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/run_config.rs
Labels: rust

feat(security key): ✨ improve askpass handling for security keys (#1042)
  .rustfmt.toml
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/spinner_progress_handler.rs
  src/internal/git/updater.rs
  src/main.rs
  templates/askpass.sh.tmpl
Labels: rust

chore(askpass): make the new askpass logic work for all askpass tools
  templates/askpass.sh.tmpl
Labels: none

chore(askpass): make the new askpass logic work for all askpass tools (#1055)
  templates/askpass.sh.tmpl
Labels: none

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/cache/database/errors.rs
  src/internal/commands/utils.rs
  src/internal/config/up/utils/fifo_handler.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/self_updater.rs
  src/internal/user_interface/print.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(github-release): ✨ prioritize `gh` cli and reload env between releases (#1053)
  src/internal/config/up/github_release.rs
Labels: rust

fix(go/cargo-install): 🐛 path for go-installed tools missed 'bin'
  src/internal/dynenv.rs
Labels: rust

tests(dynenv): 🧪 add tests for dynenv releases
  src/internal/dynenv.rs
Labels: rust

tests(dynenv): 🧪 add tests for dynenv releases (#1074)
  src/internal/dynenv.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/dynenv.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

versions: support pyproject.toml versions better
  src/internal/config/up/utils/version.rs
Labels: rust

versions: support pyproject.toml versions better (#1106)
  src/internal/config/up/utils/version.rs
Labels: rust

docs(commands): add enum values details
  website/contents/reference/configuration/parameters/commands.md
Labels: documentation

docs(commands): add enum values details (#1107)
  website/contents/reference/configuration/parameters/commands.md
Labels: documentation

feat(argparser): support list for parameter type
  src/internal/config/parser/command_definition.rs
  tests/test_config_commands.bats
  website/contents/reference/configuration/parameters/commands.md
Labels: rust, documentation

feat(argparser): support list for parameter type (#1108)
  src/internal/config/parser/command_definition.rs
  tests/test_config_commands.bats
  website/contents/reference/configuration/parameters/commands.md
Labels: rust, documentation

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
