Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(rust): 🆙 updates to move to rust 1.86
  src/internal/config/parser/command_definition.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nix.rs
  src/internal/dynenv.rs
  src/internal/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

refactor: make `uv` default version a constant
  src/internal/config/parser/up_command.rs
Labels: rust

chore: update get-changed-files script
  .github/scripts/get-changed-files.sh
Labels: none

feat: add nix build
  default.nix
  flake.lock
  flake.nix
Labels: none

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix(autocomplete): 🐛 multi-word commands now autocomplete cleanly
  src/internal/commands/loader.rs
Labels: rust

feat(help): ✨ add global options
  src/internal/commands/builtin/help.rs
Labels: rust

regenerate fixtures
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-long-config-command-10.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
Labels: none

feat(help): ✨ add global options (#1031)
  src/internal/commands/builtin/help.rs
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-long-config-command-10.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
Labels: rust

feat(`python`): ✨ set `UV_PROJECT_ENVIRONMENT` in dynamic environment
  src/internal/dynenv.rs
Labels: rust

feat(`python`): ✨ set `UV_PROJECT_ENVIRONMENT` in dynamic environment (#1032)
  src/internal/dynenv.rs
Labels: rust

feat: extend `dir` support
  src/internal/cache/up_environments.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/dynenv.rs
  website/contents/reference/configuration/parameters/up/cargo-install.md
  website/contents/reference/configuration/parameters/up/github-release.md
  website/contents/reference/configuration/parameters/up/go-install.md
Labels: rust, documentation

fix tests
  src/internal/cache/up_environments.rs
  src/internal/config/up/cargo_install.rs
  src/internal/dynenv.rs
Labels: rust

feat: ✨ extend `dir` support (#1033)
  src/internal/cache/up_environments.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/dynenv.rs
  website/contents/reference/configuration/parameters/up/cargo-install.md
  website/contents/reference/configuration/parameters/up/github-release.md
  website/contents/reference/configuration/parameters/up/go-install.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix(pre-auth): do not pre-auth when update is disabled
  src/internal/git/updater.rs
Labels: rust

clippy fix
  src/internal/git/updater.rs
Labels: rust

fix(pre-auth): 🐛 do not pre-auth when update is disabled (#1038)
  src/internal/git/updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

WIP
  src/internal/git/updater.rs
Labels: rust

WIP working with a simple message
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/git/updater.rs
Labels: rust

Make it work with indicatif
  src/internal/config/up/utils/void_progress_handler.rs
  src/internal/git/updater.rs
Labels: rust

tiny updates
  src/internal/git/updater.rs
Labels: rust

Add edition in rustfmt
  .rustfmt.toml
Labels: none

try using listener
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/config/up/utils/security_key.rs
  src/internal/git/updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(github-release): ✨ prioritize `gh` cli and reload env between releases
  src/internal/config/up/github_release.rs
Labels: rust

proper comparison for gh repository
  src/internal/config/up/github_release.rs
Labels: rust

Add missing features
  Cargo.toml
Labels: rust, dependencies

bump nix to 0.30.1
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

wip
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/security_key.rs
Labels: rust

make it work with async
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/config/up/utils/security_key.rs
  src/internal/config/up/utils/spinner_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
  src/internal/git/updater.rs
Labels: rust

Take advantage of askpass
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/security_key.rs
  src/internal/git/updater.rs
  src/main.rs
  templates/askpass.sh.tmpl
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
