Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

override help flag
  src/internal/commands/frompath.rs
Labels: rust

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/utils.rs
  src/internal/config/up/asdf_base.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
Labels: rust

Add allow dead code
  src/internal/config/up/utils/progress_handler.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

build: add packageManager key in package.json
  website/package.json
Labels: javascript, dependencies

docs: 📝 fix anchors and wording
  website/contents/reference/02-builtin-commands/0250-down.md
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

Add trust check and configuration option
  src/internal/commands/frompath.rs
  src/internal/commands/help_parser.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path_commands.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(up): synchronize 'omni up' operations
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/base.rs
  src/internal/config/up/options.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/git/updater.rs
  src/main.rs
Labels: rust

serializing up and down operations
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/up.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
  src/internal/mod.rs
Labels: rust, dependencies

Adding the head commit as part of the information
  src/internal/commands/builtin/up.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
  src/internal/git/updater.rs
  src/internal/mod.rs
Labels: rust

Handle discrepancies in CLI options and --no-cache flag
  src/internal/commands/builtin/up.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/errors.rs
Labels: rust

Add documentation for the new header metadata
  src/internal/commands/base.rs
  src/internal/commands/frompath.rs
  src/internal/config/up/utils/up_progress_handler.rs
  website/contents/reference/03-custom-commands/0302-path/030201-metadata-headers.md
Labels: rust, documentation

clippy fixes
  src/internal/commands/builtin/up.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/errors.rs
  src/internal/git/updater.rs
Labels: rust

more clippy fixes
  src/internal/config/up/utils/up_progress_handler.rs
Labels: rust

clippy: use flatten
  src/internal/config/up/utils/up_progress_handler.rs
Labels: rust

clippy: use inspect_err instead of map_err when not modifying the object
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
Labels: rust

clippy: remove unneeded reference
  src/internal/config/up/nodejs.rs
Labels: rust

clippy: use update instead of map if only modifying the element
  src/internal/git/org.rs
Labels: rust

feat(up): ✨ synchronize 'omni up' operations (#687)
  Cargo.lock
  Cargo.toml
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
  src/internal/mod.rs
  src/main.rs
  website/contents/reference/03-custom-commands/0302-path/030201-metadata-headers.md
Labels: rust, documentation, dependencies

fix fs4 FileExt references
  src/internal/cache/handler.rs
  src/internal/config/loader.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
Labels: rust

use thiserror to wrap the GitUrlParseError type
  src/internal/errors.rs
  src/internal/git/utils.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

feat(github release): ✨ configurable github auth token
  src/internal/config/parser/github.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-github.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

clippy fix
  src/internal/config/parser/github.rs
Labels: rust
