Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(lints): 💅 cargo fixes
  src/internal/cache/mod.rs
Labels: rust

feat(commands): ✨ Add support for shadow aliases
  src/internal/commands/base.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frommakefile.rs
  src/internal/commands/loader.rs
Labels: rust

fix(help): 🐛 folded help was duplicating auto-generated commands
  src/internal/commands/builtin/help.rs
Labels: rust

feat(commands): ✨ Add support for shadow aliases (#323)
  src/internal/commands/base.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frommakefile.rs
  src/internal/commands/loader.rs
Labels: rust

fix(help): 🐛 folded help was duplicating auto-generated commands (#324)
  src/internal/commands/builtin/help.rs
Labels: rust

fix(dynenv): 🐛 unset properly list environment variables
  src/internal/dynenv.rs
Labels: rust

fix(go dynenv): 🐛 consider empty GOPATH the same as unset GOPATH
  src/internal/dynenv.rs
Labels: rust

clippy fixes
  src/internal/dynenv.rs
Labels: rust

fix(go dynenv): 🐛 consider empty GOPATH the same as unset GOPATH (#326)
  src/internal/dynenv.rs
Labels: rust

fix(dynenv): 🐛 unset properly list environment variables (#325)
  src/internal/dynenv.rs
Labels: rust

fix(homebrew): 🐛 Enable cache write
  src/internal/config/up/options.rs
Labels: rust

fix(homebrew): 🐛 Enable cache write (#332)
  src/internal/config/up/options.rs
Labels: rust

fix(go dynenv): 🐛 do not set GOPATH to GOROOT
  src/internal/dynenv.rs
Labels: rust

fix(go dynenv): 🐛 do not set GOPATH to GOROOT (#333)
  src/internal/dynenv.rs
Labels: rust

refactor(configuration): ♻️ improvements to the dump and duration handling
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  src/internal/cache/asdf_operation.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/status.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-clone.md
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation, dependencies, github_actions

fix
  .github/workflows/tests.yaml
Labels: github_actions

clippy fixes
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
Labels: rust

More clippy fixes
  src/internal/config/config_value.rs
Labels: rust

Add missing documentation files
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-self.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/_category_.yaml
Labels: documentation

refactor(configuration): ♻️ improvements to the dump and duration handling (#337)
  Cargo.lock
  Cargo.toml
  src/internal/cache/asdf_operation.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/status.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-self.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/_category_.yaml
  website/contents/reference/01-configuration/0102-parameters/010250-clone.md
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation, dependencies

build: 👷 try and make builds a bit more parallel
  .github/workflows/build-and-test-target.yaml
  .github/workflows/build.yaml
Labels: github_actions

build: 👷 try and make builds a bit more parallel (#338)
  .github/workflows/build-and-test-target.yaml
  .github/workflows/build.yaml
Labels: github_actions

fix: 🐛 serialize python's pip information
  src/internal/config/up/python.rs
Labels: rust

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(cd): ✨ fast repository lookup
  Cargo.lock
  Cargo.toml
  src/internal/config/parser.rs
  src/internal/git/org.rs
  src/internal/git/utils.rs
  website/contents/reference/01-configuration/0102-parameters/010250-cd.md
Labels: rust, documentation, dependencies

clippy fixes
  src/internal/git/org.rs
Labels: rust

feat(cd): ✨ fast repository lookup (#341)
  Cargo.lock
  Cargo.toml
  src/internal/config/parser.rs
  src/internal/git/org.rs
  src/internal/git/utils.rs
  website/contents/reference/01-configuration/0102-parameters/010250-cd.md
Labels: rust, documentation, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

build(timeout): 👷 increase build timeout to 15m
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

feat(autocompletion): ✨ consider parent commands
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/main.rs
Labels: rust

clippy fix
  src/internal/commands/builtin/scope.rs
Labels: rust

feat(autocompletion): ✨ consider parent commands (#348)
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/main.rs
Labels: rust

feat(dynenv): ✨ show message when 'omni up' should be run
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

clippy fixes
  src/internal/config/parser.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
Labels: rust

feat(dynenv): ✨ show message when 'omni up' should be run (#350)
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/config/up/utils.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/config/up/utils.rs
  src/internal/git/utils.rs
Labels: rust

feat(clone): ✨ Add configuration option for `auto_up`
  src/internal/commands/builtin/clone.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-clone.md
Labels: rust, documentation

feat(bootstrap): ✨ Do not ask to order orgs if only one
  src/internal/commands/builtin/config/bootstrap.rs
Labels: rust
