Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

refactor: convert CommandDefinition to compote derive
  src/internal/config/parser/command_definition.rs
Labels: rust

chore: remove commented-out manual impls from github.rs
  src/internal/config/parser/github.rs
Labels: rust

refactor: convert UpConfigCargoInstalls and UpConfigCargoInstall to compote derive
  src/internal/config/up/cargo_install.rs
Labels: rust

refactor: convert UpConfigGithubReleases to compote derive
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
Labels: rust

refactor: convert GithubReleaseChecksumConfig to compote derive
  src/internal/config/up/github_release.rs
Labels: rust

refactor: convert UpConfigGithubRelease to compote derive
  src/internal/config/up/github_release.rs
Labels: rust

refactor: convert GithubAuthConfig to compote derive
  src/internal/config/parser/github.rs
  src/internal/config/up/github_release.rs
Labels: rust

refactor: convert UpConfigTool to compote derive with external_tag
  src/internal/config/up/base.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
Labels: rust

refactor: convert GithubReleaseChecksumAlgorithm to compote derive
  src/internal/config/up/github_release.rs
Labels: rust

refactor: rename homebrew bridge methods to private helpers
  src/internal/config/up/homebrew.rs
Labels: rust

feat: convert SuggestCloneRepositoryConfig to derive macro
  src/internal/config/parser/suggest_clone.rs
Labels: rust

feat: convert UpConfigPythonParams to derive with PipConfig untagged enum
  src/internal/config/up/python.rs
Labels: rust

refactor: convert EnvConfig parsing to use compote derive for EnvVarConfig
  src/internal/config/parser/env.rs
Labels: rust

refactor: convert UpConfigMise to compote derive macro
  src/internal/config/up/mise.rs
Labels: rust

refactor: use from_context for env source_path, refine skip→default
  src/internal/config/parser/env.rs
  src/internal/config/up/mise.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore: fix clippy issues
  Cargo.toml
  src/internal/commands/builtin/sandbox.rs
  src/internal/env.rs
Labels: rust, dependencies

chore: fix clippy issues (#1373)
  Cargo.toml
  src/internal/commands/builtin/sandbox.rs
  src/internal/env.rs
Labels: rust, dependencies

chore(deps): bump sha1, sha2, and md-5 to 0.11.0
  Cargo.lock
  Cargo.toml
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
Labels: rust, dependencies

chore(deps): bump sha1, sha2, and md-5 to 0.11.0 (#1374)
  Cargo.lock
  Cargo.toml
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
Labels: rust, dependencies

fix(website): pin Node to v22 LTS and fix Docusaurus deprecation
  .github/workflows/auto-pr-yarn-dependencies.yaml
  .github/workflows/tests.yaml
  website/docusaurus.config.js
  website/package.json
Labels: javascript, dependencies, github_actions

fix(website): pin webpack to ~5.105.0 for Docusaurus compatibility
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies
