Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

fix(up): stop double-prefixing nested up errors
  src/internal/config/up/error.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/utils/up_progress_handler.rs
Labels: rust

docs(plan): mark 04 Problem 1 done, record the stable-rustfmt trap
  PLAN/04-error-reporting.md
  PLAN/README.md
Labels: documentation

docs(plan): correct the required_by claim in 03
  PLAN/03-up-lifecycles.md
Labels: documentation

fix(up): stop leaking a permanent log file for every failed step
  src/internal/config/up/utils/progress_handler.rs
  src/internal/env.rs
Labels: rust

docs(plan): mark 04 Problem 2 items 1-2 done
  PLAN/04-error-reporting.md
  PLAN/README.md
Labels: documentation

docs(plan): record the remove_dir_all trap, flag the fish claim as unverified
  PLAN/04-error-reporting.md
  PLAN/README.md
Labels: documentation

fix(up): keep failure logs in $TMPDIR, renamed rather than relocated
  PLAN/04-error-reporting.md
  PLAN/README.md
  src/internal/config/up/utils/progress_handler.rs
Labels: rust, documentation

docs(plan): reject omni logs, pin kept-log permissions
  PLAN/04-error-reporting.md
  PLAN/README.md
  src/internal/config/up/utils/progress_handler.rs
Labels: rust, documentation

docs: remove planned docs
  PLAN/00-findings.md
  PLAN/01-binary-size.md
  PLAN/02-static-linking.md
  PLAN/03-up-lifecycles.md
  PLAN/04-error-reporting.md
  PLAN/05-network-resilience.md
  PLAN/06-runtime-speed.md
  PLAN/07-ux-polish.md
  PLAN/08-ci.md
  PLAN/09-rejected.md
  PLAN/README.md
  PLAN/measurements/README.md
  PLAN/measurements/a1-profile-dist.txt
  PLAN/measurements/a2-openssl-removal.txt
  PLAN/measurements/a3-a4-dependency-narrowing.txt
  PLAN/measurements/a5-a7-and-gates.txt
Labels: documentation

ci: allowlist the two OS dylibs libgit2 forces on darwin
  .github/scripts/check-static-linking.sh
  PLAN/00-findings.md
  PLAN/01-binary-size.md
  PLAN/02-static-linking.md
  PLAN/03-up-lifecycles.md
  PLAN/04-error-reporting.md
  PLAN/05-network-resilience.md
  PLAN/06-runtime-speed.md
  PLAN/07-ux-polish.md
  PLAN/08-ci.md
  PLAN/09-rejected.md
  PLAN/README.md
  PLAN/measurements/README.md
  PLAN/measurements/a1-profile-dist.txt
  PLAN/measurements/a2-openssl-removal.txt
  PLAN/measurements/a3-a4-dependency-narrowing.txt
  PLAN/measurements/a5-a7-and-gates.txt
Labels: documentation

ci: teach the linked-libraries check about darwin
  .github/linked-libraries.allow
  .github/scripts/check-linked-libraries.sh
Labels: none

ci: record binary size baselines for the four shipped targets
  .github/binary-size-baseline.txt
Labels: none

ci: report binary size instead of gating on it
  .github/binary-size-baseline.txt
  .github/scripts/check-binary-size.sh
  .github/scripts/report-binary-size.sh
  .github/workflows/build-and-test-target.yaml
  PLAN/README.md
Labels: documentation, github_actions

ci: remove the bespoke shell-pitfall linter
  .github/scripts/check-shell-pitfalls.sh
  .github/scripts/check-static-linking.sh
  PLAN/README.md
Labels: documentation

docs(plan): measured -- musl is faster than glibc here, not slower
  PLAN/06-runtime-speed.md
  PLAN/README.md
Labels: documentation

remove PLAN/ docs
  PLAN/00-findings.md
  PLAN/01-binary-size.md
  PLAN/02-static-linking.md
  PLAN/03-up-lifecycles.md
  PLAN/04-error-reporting.md
  PLAN/05-network-resilience.md
  PLAN/06-runtime-speed.md
  PLAN/07-ux-polish.md
  PLAN/08-ci.md
  PLAN/09-rejected.md
  PLAN/README.md
  PLAN/measurements/README.md
  PLAN/measurements/a1-profile-dist.txt
  PLAN/measurements/a2-openssl-removal.txt
  PLAN/measurements/a3-a4-dependency-narrowing.txt
  PLAN/measurements/a5-a7-and-gates.txt
Labels: documentation

build: cut the binary by 37% (#1439)
  .DS_Store
  .claude/settings.local.json
  .github/linked-libraries.allow
  .github/scripts/bench-hook-env.sh
  .github/scripts/check-linked-libraries.sh
  .github/scripts/check-static-linking.sh
  .github/scripts/report-binary-size.sh
  .github/workflows/build-and-test-target.yaml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  MISSINGTESTS.md
  REPORT_SHORTEN.md
  next-tasks.txt
  src/internal/config/up/error.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/recording_progress_handler.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/git/utils.rs
  src/internal/utils/base62.rs
  src/internal/utils/mod.rs
  src/internal/utils/runtime.rs
  tests/fixtures/archives/multi-stream.tar.xz
  tests/fixtures/archives/single-stream.tar.xz
  urls.txt
  wt/.DS_Store
Labels: rust, documentation, dependencies, github_actions

chore: cleanup
  .DS_Store
  .claude/settings.local.json
  MISSINGTESTS.md
  REPORT_SHORTEN.md
  urls.txt
  wt/.DS_Store
Labels: documentation

chore: more cleanup
  .gitignore
  CLAUDE.md
  commit.txt
Labels: documentation

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): update cargo dependencies and fixes
  Cargo.lock
  body.md
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/mise_operation.rs
  src/internal/cache/up_environments_test.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/feuilletage_types.rs
  src/internal/config/mod.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/go_install_test.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/self_updater.rs
  src/internal/utils/base62.rs
Labels: rust, documentation, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): update cargo dependencies and fixes
  Cargo.lock
  body.md
Labels: rust, documentation, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): update cargo dependencies and fixes
  Cargo.lock
  body.md
Labels: rust, documentation, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): update cargo dependencies and fixes
  Cargo.lock
  body.md
Labels: rust, documentation, dependencies

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
