Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

switching imports to single-line imports
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  src/internal/dynenv_test.rs
  src/internal/git/mod.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/testutils.rs
Labels: rust

fix clippy default
  src/internal/config/config_value.rs
Labels: rust

fix documentation
  website/contents/reference/builtin-commands/overview.md
  website/contents/reference/builtin-commands/sandbox.md
Labels: documentation

renumber one bats test
  tests/test_omni_sandbox.bats
Labels: none

changed message
  src/internal/commands/builtin/sandbox.rs
Labels: rust

Add bats tests
  tests/test_omni_sandbox.bats
Labels: none

Update src/internal/env.rs
  src/internal/env.rs
Labels: rust

split comment lines
  website/contents/reference/builtin-commands/sandbox.md
Labels: documentation

update fixtures
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status.txt
Labels: none

feat(`sandbox`): create sandbox directories quickly (#1219)
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/loader.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  src/internal/dynenv_test.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/mod.rs
  src/internal/testutils.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status.txt
  tests/helpers/utils.bash
  tests/test_omni_sandbox.bats
  website/contents/reference/builtin-commands/overview.md
  website/contents/reference/builtin-commands/sandbox.md
Labels: rust, documentation

build(release): update process for immutable releases
  .github/workflows/release.yaml
Labels: github_actions

build(release): update process for immutable releases (#1220)
  .github/workflows/release.yaml
Labels: github_actions

fix(`github_release`): handle releases without name
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
Labels: rust

fix(`github_release`): handle releases without name (#1221)
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
Labels: rust

handle copying sdk full directories
  src/internal/config/up/github_release.rs
Labels: rust

wip
  src/internal/cache/up_environments.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
Labels: rust

WIP extra env
  src/internal/cache/up_environments.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
Labels: rust

convert all UpVersion::new
  src/internal/cache/up_environments.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
Labels: rust

allow users to configure environment variables for github releases too
  src/internal/config/parser/env.rs
  src/internal/config/up/github_release.rs
Labels: rust

use tera for the solving of the interpretation of the env vars values
  src/internal/cache/up_environments.rs
  src/internal/config/up/github_release.rs
Labels: rust

Add doc + remove tinygo special case
  src/internal/config/up/github_release.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

invert order for env vars added for github releases
  src/internal/config/up/github_release.rs
Labels: rust

Update src/internal/config/up/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

fix tests
  src/internal/cache/up_environments_test.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/dynenv_test.rs
Labels: rust

fix more tests
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(`github-release`): support for SDK-type releases (#1223)
  src/internal/cache/up_environments.rs
  src/internal/cache/up_environments_test.rs
  src/internal/config/parser/env.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
  src/internal/dynenv_test.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

chore(lints): 💅 cargo fixes
  src/internal/dynenv.rs
Labels: rust

filter immutable github releases
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

add immutable release verification
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

keep track of installed releases immutability status
  src/internal/cache/database/sql/github_release_operation_add_install.sql
  src/internal/cache/database/sql/github_release_operation_list_installed.sql
  src/internal/cache/database/sql/upgrade_v3_to_v4.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
  src/internal/config/up/github_release.rs
Labels: rust

better handling of the immutable releases
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
Labels: rust

Update src/internal/cache/github_release_test.rs
  src/internal/cache/github_release_test.rs
Labels: rust

feat(`github-release`): add support for immutable releases (#1227)
  src/internal/cache/database/sql/github_release_operation_add_install.sql
  src/internal/cache/database/sql/github_release_operation_list_installed.sql
  src/internal/cache/database/sql/upgrade_v3_to_v4.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

WIP
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust

locate binary correctly
  build.rs
  src/internal/self_updater.rs
Labels: rust

replace XaF -> xaf
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
  Cargo.toml
  README.md
  src/internal/self_updater.rs
Labels: rust, documentation, dependencies, github_actions

fix duplicate self-update
  src/internal/self_updater.rs
Labels: rust

cleanup comments
  src/internal/self_updater.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
