Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

feat(askpass): ✨ add configuration for the askpass handling (#476)
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/up/askpass.rs
  templates/askpass.sh.tmpl
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-askpass.md
Labels: rust, documentation

feat(up): ✨ new github release operation
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/cache/loaders.rs
  src/internal/cache/mod.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/config/up/utils/spinner_progress_handler.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
  src/internal/self_updater.rs
  src/main.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation, dependencies

clippy fixes
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

feat(up): ✨ new `github-release` operation (#477)
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/cache/loaders.rs
  src/internal/cache/mod.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  src/internal/config/up/utils/spinner_progress_handler.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
  src/internal/self_updater.rs
  src/main.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation, dependencies

chore(deps): cargo update
  Cargo.lock
Labels: rust, dependencies

feat(github-release): ✨ support binary downloading
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

fix(cleanup): 🐛 data path cleanup won't delete auto versions
  src/internal/config/up/asdf_base.rs
Labels: rust

fix convert
  src/internal/config/up/asdf_base.rs
Labels: rust

clippy fixes
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

clippy fix
  src/internal/config/up/asdf_base.rs
Labels: rust

revert the default for the binary parameter
  src/internal/cache/utils.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

fix(cleanup): 🐛 data path cleanup won't delete auto versions (#481)
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(github-release): ✨ support binary downloading (#480)
  src/internal/cache/github_release.rs
  src/internal/cache/utils.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

feat(shims): ✨ add a shims directory with all dynamic binaries
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/mod.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
  src/internal/env.rs
  src/main.rs
Labels: rust

clippy fixes
  src/internal/commands/builtin/hook/env.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
Labels: rust

add documentation for omni config reshim
  website/contents/reference/02-builtin-commands/02-overview.md
  website/contents/reference/02-builtin-commands/0250-config/0250-reshim.md
Labels: documentation

add mention of the shims in the up command doc
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: documentation

fix reshim process
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/shims.rs
Labels: rust

feat(shims): ✨ add a shims directory with all dynamic binaries (#490)
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/mod.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/utils/directory.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
  src/internal/env.rs
  src/main.rs
  website/contents/reference/02-builtin-commands/02-overview.md
  website/contents/reference/02-builtin-commands/0250-config/0250-reshim.md
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

feat(config trust): ✨ command to manage workdir trust
  src/internal/cache/repositories.rs
  src/internal/commands/builtin/config/mod.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/loader.rs
  src/internal/workdir.rs
  website/contents/reference/02-builtin-commands/02-overview.md
  website/contents/reference/02-builtin-commands/0250-config/0250-trust.md
  website/contents/reference/02-builtin-commands/0250-config/0250-untrust.md
Labels: rust, documentation

clippy fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/trust.rs
Labels: rust

feat(config trust): ✨ command to manage workdir trust (#497)
  src/internal/cache/repositories.rs
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/mod.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/loader.rs
  src/internal/workdir.rs
  website/contents/reference/02-builtin-commands/02-overview.md
  website/contents/reference/02-builtin-commands/0250-config/0250-trust.md
  website/contents/reference/02-builtin-commands/0250-config/0250-untrust.md
Labels: rust, documentation

fix(github-release): 🐛 handle GitHub request errors better
  src/internal/config/up/github_release.rs
Labels: rust

fix(github-release): 🐛 handle GitHub request errors better (#500)
  src/internal/config/up/github_release.rs
Labels: rust

feat(hook init): ✨ handle shims
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/env.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
  website/contents/reference/02-builtin-commands/0250-hook.md
Labels: rust, documentation

clippy fixes
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
Labels: rust

feat(hook init): ✨ handle shims (#501)
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/env.rs
  templates/shell_integration.bash.tmpl
  templates/shell_integration.fish.tmpl
  templates/shell_integration.zsh.tmpl
  website/contents/reference/02-builtin-commands/0250-hook.md
Labels: rust, documentation

feat(github release): ✨ add more compact configuration handling
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
Labels: rust

clippy fixes
  src/internal/config/up/github_release.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

add docs and fix remove message
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

feat(github release): ✨ add more compact configuration handling (#502)
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

fix(nodejs): 🐛 .node-version file was not used for 'auto'
  src/internal/config/up/asdf_base.rs
Labels: rust

fix(nodejs): 🐛 .node-version file was not used for 'auto' (#503)
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(github release): ✨ try refreshing releases cache if none match
  src/internal/cache/github_release.rs
  src/internal/config/up/error.rs
  src/internal/config/up/github_release.rs
Labels: rust

fix(self update): 🐛 force-refresh tap before upgrading omni
  src/internal/self_updater.rs
Labels: rust

fix(self update): 🐛 check version after successful update
  src/internal/self_updater.rs
Labels: rust

clippy fix
  src/internal/cache/github_release.rs
Labels: rust

fix(self update): 🐛 check version after successful update (#506)
  src/internal/self_updater.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
