Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

Disable safe.directory for containers (mounted path)
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

full path for bats binary
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

Update build-and-test-target.yaml
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

Update build-and-test-target.yaml
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

build(tests): 👷 add bats tests (#381)
  .github/workflows/build-and-test-target.yaml
  .github/workflows/tests.yaml
  .omni.yaml
  tests/helpers/utils.bash
  tests/test_omni_cd.bats
  tests/test_omni_help.bats
  tests/test_omni_tidy.bats
Labels: github_actions

WIP suggestions templating
  src/internal/commands/builtin/up.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/mod.rs
  src/internal/config/parser.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
Labels: rust

Splitting config parser
  src/internal/commands/builtin/up.rs
  src/internal/config/parser.rs
  src/internal/config/parser/cache/asdf.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/makefile_commands.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/root.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/utils.rs
Labels: rust

prompts can now be templates
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/config_value.rs
  src/internal/config/mod.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/template.rs
  src/internal/config/utils.rs
Labels: rust

Now caches the answers
  src/internal/cache/loaders.rs
  src/internal/cache/mod.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/template.rs
Labels: rust

Add syntax parameters
  src/internal/commands/builtin/up.rs
Labels: rust

Add missing cache file for prompts
  src/internal/cache/prompts.rs
Labels: rust

docs: 📝 update 'why omni' section
  website/contents/tutorials/01-why-omni.md
Labels: documentation

docs: 📝 enable Algolia search
  website/docusaurus.config.js
Labels: javascript

docs: 📝 enable Algolia search (#399)
  website/docusaurus.config.js
Labels: javascript

build: 👷 trigger Algolia indexing on website changes
  .github/workflows/tests.yaml
Labels: github_actions

build: 👷 trigger Algolia indexing on website changes (#400)
  .github/workflows/tests.yaml
Labels: github_actions

tests(bats): fix heredocs for old bash versions
  tests/test_omni_help.bats
Labels: none

fix read returning non-0 exit code when not meeting the delimiter
  tests/test_omni_help.bats
Labels: none

Replace 'cat -A' by 'cat -vET' for darwin
  tests/test_omni_help.bats
Labels: none

fix
  tests/test_omni_help.bats
Labels: none

fix cat -e
  tests/test_omni_help.bats
Labels: none

tests(bats): fix heredocs for old bash versions (#409)
  tests/test_omni_help.bats
Labels: none

chore(lints): 💅 cargo fixes
  src/internal/config/config_value.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

Add proper docs and fix some template handling
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/help.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/self_updater.rs
  website/contents/reference/01-configuration/0102-parameters/010250-prompts.md
  website/contents/reference/01-configuration/0102-parameters/010250-suggest_clone.md
  website/contents/reference/01-configuration/0102-parameters/010250-suggest_config.md
  website/contents/reference/01-configuration/0104-templates.md
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

fix some clippy
  src/internal/config/parser/prompts.rs
  src/internal/config/template.rs
Labels: rust

fix more clippy
  src/internal/config/parser/prompts.rs
Labels: rust

try without the allow
  src/internal/config/parser/prompts.rs
Labels: rust

we need the allow
  src/internal/config/parser/prompts.rs
Labels: rust

build: update tests to fail if clippy failed
  .github/workflows/tests.yaml
Labels: github_actions

fix(cd): autocompletion for / and ~/ paths
  shell_integration/omni.bash.tmpl
  src/internal/commands/builtin/cd.rs
Labels: rust

fix tests
  tests/test_omni_help.bats
Labels: none

clippy fix
  src/internal/commands/builtin/cd.rs
Labels: rust

more clippy fixes
  src/internal/config/config_value.rs
Labels: rust

clippy fix: removing redundant import
  src/internal/cache/handler.rs
Labels: rust

Add failure for clippy if any warning or error
  .github/workflows/tests.yaml
Labels: github_actions

action fix
  .github/workflows/tests.yaml
Labels: github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
