Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

feat(`config check`): ✨ add configuration
  src/internal/commands/builtin/config/check.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  website/contents/reference/builtin-commands/overview.md
  website/contents/reference/configuration/parameters/check.md
Labels: rust, documentation

clippy fixes
  src/internal/config/parser/check.rs
Labels: rust

feat(`config check`): ✨ add configuration (#873)
  src/internal/commands/builtin/config/check.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  website/contents/reference/builtin-commands/overview.md
  website/contents/reference/configuration/parameters/check.md
Labels: rust, documentation

docs(check): add missing reference
  website/contents/reference/configuration/parameters/overview.md
Labels: documentation

fix(`argparser`): `last` argument is now shown after `--` in the help
  src/internal/commands/base.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

update fixture
  .omni.yaml
  tests/fixtures/omni/help-tidy.txt
Labels: none

fix(`argparser`): `last` argument is now shown after `--` in the help (#874)
  .omni.yaml
  src/internal/commands/base.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-tidy.txt
Labels: rust

feat(`tags`): ✨ commands can now be tagged
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
Labels: rust

filter the check configuration to apply to the current repository of the error
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/errors.rs
Labels: rust

feat(`tags`): ✨ commands can now be tagged (#878)
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
Labels: rust

fix(`up`): `--bootstrap` restored to work
  src/internal/commands/builtin/up.rs
Labels: rust

fix(`up`): `--bootstrap` restored to work
  src/internal/commands/builtin/up.rs
Labels: rust

tests(`up`): update fixtures
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-up-json.txt
  tests/fixtures/omni/help-up.txt
Labels: none

tests(`up`): update fixtures
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-up-json.txt
  tests/fixtures/omni/help-up.txt
Labels: none

feat(`up`): ✨ timeout and offer to kill running `up` if hanging
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
Labels: rust

chore(`IsTerminal`): use the `std` trait `IsTerminal`
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/status.rs
  src/internal/env.rs
  src/internal/user_interface/colors.rs
Labels: rust, dependencies

update fixture
  tests/fixtures/omni/status-config.txt
Labels: none

chore(`IsTerminal`): use the `std` trait `IsTerminal` (#880)
  Cargo.lock
  Cargo.toml
  src/internal/commands/builtin/status.rs
  src/internal/env.rs
  src/internal/user_interface/colors.rs
Labels: rust, dependencies

feat(`up`): ✨ timeout and offer to kill running `up` if hanging (#879)
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
  tests/fixtures/omni/status-config.txt
Labels: rust

fix(`auto`): do not return an error if no version detected
  src/internal/config/up/mise.rs
Labels: rust

fix(`auto`): do not return an error if no version detected (#881)
  src/internal/config/up/mise.rs
Labels: rust

fix(`data path`): 🐛 use the normalized name to load the data path
  src/internal/config/up/golang.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
Labels: rust

feat(`helm`): ✨ add support for local `helm` configuration
  src/internal/config/up/mise.rs
  src/internal/dynenv.rs
Labels: rust

chore: clippy fixes to move to rust 1.84.0
  src/internal/commands/fromconfig.rs
  src/internal/commands/frommakefile.rs
  src/internal/commands/frompath.rs
  src/internal/config/up/base.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/version.rs
  src/internal/self_updater.rs
Labels: rust

chore: more clippy fixes
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/nix.rs
  src/internal/config/utils.rs
Labels: rust

feat(`up`): ✨ handle hanging process with mismatched init
  src/internal/config/parser/up_command.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
Labels: rust

clippy fixes
  src/internal/config/up/utils/up_progress_handler.rs
Labels: rust

fix fixtures
  tests/fixtures/omni/status-config.txt
Labels: none

feat(`up`): ✨ handle hanging process with mismatched init (#886)
  src/internal/config/parser/up_command.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
  src/internal/errors.rs
  tests/fixtures/omni/status-config.txt
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

WIP
  src/internal/commands/frompath.rs
  src/internal/git/mod.rs
  src/internal/git/utils.rs
Labels: rust

add get code owners, add tests
  src/internal/commands/frompath.rs
  src/internal/git/mod.rs
  src/internal/git/utils.rs
  src/internal/testutils.rs
Labels: rust

add tests for is_path_gitignored
  src/internal/git/utils.rs
Labels: rust

chore(`versioning`): move `omni` to use CalVer
  .omni.yaml
Labels: none

chore(`versioning`): show error message if current commit is tagged
  .omni.yaml
Labels: none

fix(`node`): fix backend name for `mise`
  src/internal/config/up/nodejs.rs
Labels: rust

chore(`versioning`): fix create tag check
  .omni.yaml
Labels: none

fix(`node`): 🐛 remove `mise reshim` call from `npm`
  src/internal/config/up/error.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
Labels: rust

fix(`mise`): 🐛 install mise before resolving the fully qualified tool
  src/internal/config/up/mise.rs
Labels: rust
