Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

fix(self update): 🐛 force-refresh tap before upgrading omni (#505)
  src/internal/self_updater.rs
Labels: rust

feat(github release): ✨ try refreshing releases cache if none match (#504)
  src/internal/cache/github_release.rs
  src/internal/config/up/error.rs
  src/internal/config/up/github_release.rs
Labels: rust

feat(asdf): ✨ add suppport for arbitrary asdf tools
  src/internal/cache/asdf_operation.rs
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/dynenv.rs
Labels: rust

Update name()
  src/internal/config/up/asdf_base.rs
Labels: rust

fix name
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(asdf): ✨ add suppport for arbitrary asdf tools (#508)
  src/internal/cache/asdf_operation.rs
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/print_progress_handler.rs
  src/internal/dynenv.rs
Labels: rust

feat(template): ✨ add `env` map in the context
  src/internal/config/template.rs
  website/contents/reference/01-configuration/0104-templates.md
Labels: rust, documentation

feat(template): ✨ add `env` map in the context (#509)
  src/internal/config/template.rs
  website/contents/reference/01-configuration/0104-templates.md
Labels: rust, documentation

fix(asdf): 🐛 post install and detect func use the real tool name
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
Labels: rust

fix(asdf): 🐛 post install and detect func use the real tool name (#510)
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/python.rs
Labels: rust

fix(up auto): 🐛 ignore vendor directories
  src/internal/config/up/asdf_base.rs
Labels: rust

fix(dynenv): 🐛 feature name use real asdf tool name
  src/internal/dynenv.rs
Labels: rust

fix(up auto): 🐛 ignore vendor directories (#511)
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(github release): ✨ read github auth token from `gh`
  src/internal/config/up/github_release.rs
Labels: rust

clippy fixes
  src/internal/config/up/github_release.rs
Labels: rust

feat(github release): ✨ read github auth token from `gh` (#513)
  src/internal/config/up/github_release.rs
Labels: rust

feat(nix): ✨ handle flakes
  src/internal/config/up/nix.rs
Labels: rust

fix comments
  src/internal/config/up/nix.rs
Labels: rust

clippy fixes
  src/internal/config/up/nix.rs
Labels: rust

more clippy fixes
  src/internal/config/up/nix.rs
Labels: rust

update doc
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-nix.md
Labels: documentation

fix test
  tests/fixtures/bin/generic.sh
Labels: none

fix nix packages order to be sorted
  tests/test_omni_up_python.bats
Labels: none

feat(nix): ✨ handle flakes (#517)
  src/internal/config/up/nix.rs
  tests/fixtures/bin/generic.sh
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-nix.md
Labels: rust, documentation

feat(homebrew): ✨ auto-extract taps from formulas
  src/internal/config/up/homebrew.rs
Labels: rust

clippy fixes
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
Labels: rust

more fixes
  src/internal/config/up/asdf_base.rs
Labels: rust

feat(homebrew): ✨ auto-extract taps from formulas (#518)
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/homebrew.rs
Labels: rust

build(status): 👷 fix check of test results
  .github/workflows/tests.yaml
Labels: github_actions

Add cancelled status as a failure mode
  .github/workflows/tests.yaml
Labels: github_actions

fix erroring test (now homebrew taps before install for full paths)
  tests/test_omni_up_homebrew.bats
Labels: none

build(status): 👷 fix check of test results (#521)
  .github/workflows/tests.yaml
  tests/test_omni_up_homebrew.bats
Labels: github_actions

build(auto): 👷 enable auto-merge for omnibotent PRs
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
Labels: github_actions

build(auto):👷 add auto-pr files as workflow triggers
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
Labels: github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(update): ✨ ask before updating on command not found
  src/internal/config/parser/path_repo_updates.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
  src/main.rs
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation

feat(update): ✨ ask before updating on command not found (#522)
  src/internal/config/parser/path_repo_updates.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
  src/main.rs
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation

feat(cleanup): ✨ add delay before removing unused resources
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/config/parser/cache/asdf.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/homebrew.rs
  src/internal/env.rs
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-self.md
Labels: rust, documentation

clippy fix
  src/internal/env.rs
Labels: rust
