Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

Remove unused md5
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

cleanup
  Cargo.lock
  Cargo.toml
  src/internal/cache/asdf_operation.rs
  src/internal/cache/database/errors.rs
  src/internal/cache/database/from_row.rs
  src/internal/cache/database/manager.rs
  src/internal/cache/database/mod.rs
  src/internal/cache/database/pool.rs
  src/internal/cache/database/row_ext.rs
  src/internal/cache/database/upgrade.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/up_environments.rs
Labels: rust, dependencies

Add machete test
  .github/workflows/tests.yaml
Labels: github_actions

fix machete action name
  .github/workflows/tests.yaml
Labels: github_actions

WIP
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/database/sql/go_install_operation_add.sql
  src/internal/cache/database/sql/go_install_operation_add_required_by.sql
  src/internal/cache/database/sql/go_install_operation_add_versions.sql
  src/internal/cache/database/sql/go_install_operation_cleanup.sql
  src/internal/cache/database/sql/go_install_operation_get_versions.sql
  src/internal/cache/database/sql/go_install_operation_list_installed.sql
  src/internal/cache/go_install.rs
  src/internal/cache/mod.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
Labels: rust

remove unusued dep
  src/internal/cache/go_install.rs
Labels: rust

Add tests
  src/internal/cache/go_install.rs
Labels: rust

Add dependency on go itself
  src/internal/cache/workdirs.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
Labels: rust

Add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go-install.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: documentation

remove 'auto' versioning for go-install and github-release
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go-install.md
Labels: documentation

add tests and check for pseudo versions
  Cargo.toml
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/version.rs
  tests/fixtures/golang-versions.txt
  tests/helpers/asdf.bash
  tests/helpers/utils.bash
  tests/test_omni_up_go_install.bats
  tests/test_omni_up_python.bats
Labels: rust, dependencies

add test and bash version check
  .github/workflows/build-and-test-target.yaml
  tests/test_omni_up_go_install.bats
Labels: github_actions

Add debug output to figure out what is happening in the bats tests
  src/internal/config/up/go_install.rs
Labels: rust

Try using process command to see if it's the reason
  src/internal/config/up/go_install.rs
  src/internal/config/up/utils/progress_handler.rs
Labels: rust

try fixing the get_command_output method
  src/internal/config/up/go_install.rs
  src/internal/config/up/utils/progress_handler.rs
Labels: rust

remove debugging stuff
  src/internal/config/up/go_install.rs
  src/internal/config/up/utils/progress_handler.rs
Labels: rust

update cleanup message
  src/internal/config/up/go_install.rs
Labels: rust

feat(`up`): ✨ add a new `go-install` operation (#797)
  .github/workflows/build-and-test-target.yaml
  Cargo.toml
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/database/sql/go_install_operation_add.sql
  src/internal/cache/database/sql/go_install_operation_add_required_by.sql
  src/internal/cache/database/sql/go_install_operation_add_versions.sql
  src/internal/cache/database/sql/go_install_operation_cleanup.sql
  src/internal/cache/database/sql/go_install_operation_get_versions.sql
  src/internal/cache/database/sql/go_install_operation_list_installed.sql
  src/internal/cache/go_install.rs
  src/internal/cache/mod.rs
  src/internal/cache/workdirs.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/version.rs
  tests/fixtures/golang-versions.txt
  tests/helpers/asdf.bash
  tests/helpers/utils.bash
  tests/test_omni_up_go_install.bats
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go-install.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: rust, documentation, dependencies, github_actions

feat(`up`): ✨ add `cargo-update` operation
  src/internal/cache/cargo_install.rs
  src/internal/cache/database/sql/cargo_install_operation_add.sql
  src/internal/cache/database/sql/cargo_install_operation_add_required_by.sql
  src/internal/cache/database/sql/cargo_install_operation_add_versions.sql
  src/internal/cache/database/sql/cargo_install_operation_cleanup.sql
  src/internal/cache/database/sql/cargo_install_operation_get_versions.sql
  src/internal/cache/database/sql/cargo_install_operation_list_installed.sql
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/mod.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
Labels: rust

WIP fix tests
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
Labels: rust

Fix SUN_LEN socket issue
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/utils/askpass.rs
Labels: rust

fix tests
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  src/internal/testutils.rs
Labels: rust

add test
  src/internal/config/up/cargo_install.rs
Labels: rust

Add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-cargo-install.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
Labels: documentation

clippy fixes
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
Labels: rust

Fix website broken anchor link
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
  website/docusaurus.config.js
Labels: documentation, javascript

feat(`up`): ✨ add `cargo-install` operation (#800)
  src/internal/cache/cargo_install.rs
  src/internal/cache/database/sql/cargo_install_operation_add.sql
  src/internal/cache/database/sql/cargo_install_operation_add_required_by.sql
  src/internal/cache/database/sql/cargo_install_operation_add_versions.sql
  src/internal/cache/database/sql/cargo_install_operation_cleanup.sql
  src/internal/cache/database/sql/cargo_install_operation_get_versions.sql
  src/internal/cache/database/sql/cargo_install_operation_list_installed.sql
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/mod.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/config/up/utils/void_progress_handler.rs
  src/internal/testutils.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-cargo-install.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-self.md
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
  website/docusaurus.config.js
Labels: rust, documentation, javascript

feat(`argparser`): support using `--arg=PLACEHOLDER`
  src/internal/config/parser/command_definition.rs
Labels: rust

chore(`binstall`): add metadata for binstall
  Cargo.toml
Labels: rust, dependencies

clippy fix
  src/internal/config/parser/command_definition.rs
Labels: rust

chore(`serde_yaml`): replace deprecated dependency
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat(`argparser`): support using `--arg=PLACEHOLDER` (#801)
  src/internal/config/parser/command_definition.rs
Labels: rust

chore(`binstall`): add metadata for binstall (#802)
  Cargo.toml
Labels: rust, dependencies

chore(`serde_yaml`): replace deprecated dependency (#803)
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore(@-version): handle @-version as exact matching
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  tests/test_omni_up_go_install.bats
Labels: rust

chore(@-version): handle @-version as exact matching (#804)
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  tests/test_omni_up_go_install.bats
Labels: rust

Revert "chore(`serde_yaml`): replace deprecated dependency (#803)"
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

Revert "chore(`serde_yaml`): replace deprecated dependency" (#806)
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

tests(`omni status`): 🧪 add bats tests for `omni status`
  tests/fixtures/omni/status-config-files.txt
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status-multiple.txt
  tests/fixtures/omni/status-orgs.txt
  tests/fixtures/omni/status-path.txt
  tests/fixtures/omni/status-shell.txt
  tests/fixtures/omni/status-worktree.txt
  tests/fixtures/omni/status.txt
  tests/helpers/output.bash
  tests/test_omni_help.bats
  tests/test_omni_status.bats
Labels: none

tests(`omni status`): 🧪 add bats tests for `omni status` (#807)
  tests/fixtures/omni/status-config-files.txt
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status-multiple.txt
  tests/fixtures/omni/status-orgs.txt
  tests/fixtures/omni/status-path.txt
  tests/fixtures/omni/status-shell.txt
  tests/fixtures/omni/status-worktree.txt
  tests/fixtures/omni/status.txt
  tests/helpers/output.bash
  tests/test_omni_help.bats
  tests/test_omni_status.bats
Labels: none

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
