Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

build(test): increase timeout time to 10mn
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

docs(readme): add link for continuous testing badge
  README.md
Labels: documentation

wip: add check for gitignore
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/errors.rs
  src/internal/git/mod.rs
  src/internal/git/utils.rs
Labels: rust

add missing error reports
  src/internal/config/parser/errors.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
Labels: rust

clippy fixes + tests fixes
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
Labels: rust

finish clean-up with use of handler
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/makefile_commands.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
Labels: rust

add json output
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/errors.rs
Labels: rust

mini improvement
  src/internal/commands/builtin/config/check.rs
Labels: rust

add documentation
  website/contents/reference/builtin-commands/config/check.md
Labels: documentation

some code improvement
  src/internal/commands/frompath.rs
  src/internal/config/parser/errors.rs
  website/contents/reference/builtin-commands/config/check.md
Labels: rust, documentation

add mention in the doc
  website/contents/reference/builtin-commands/config/check.md
Labels: documentation

fix custom command
  src/internal/config/up/custom.rs
  tests/test_omni_help.bats
Labels: rust

regenerate help fixtures
  src/internal/commands/builtin/config/check.rs
  tests/fixtures/omni/help-config-json.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/status-config-files.txt
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status-multiple.txt
  tests/fixtures/omni/status-orgs.txt
  tests/fixtures/omni/status.txt
Labels: rust

fix fixtures
  tests/fixtures/omni/help-config-check-json.txt
  tests/fixtures/omni/help-config-check.txt
  tests/fixtures/omni/status-config-files.txt
  tests/fixtures/omni/status-multiple.txt
  tests/fixtures/omni/status.txt
Labels: none

some improvement
  src/internal/commands/builtin/config/check.rs
Labels: rust

add missing tests
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/errors.rs
  tests/fixtures/omni/config-check-broken-input.txt
  tests/fixtures/omni/config-check-many-issues-json.txt
  tests/fixtures/omni/config-check-many-issues.txt
  tests/helpers/output.bash
Labels: rust

regenerate fixtures
  tests/fixtures/omni/status-config.txt
  tests/fixtures/omni/status-orgs.txt
  tests/fixtures/omni/status.txt
Labels: none

Renumber errors and add tests
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/errors.rs
  tests/test_omni_config_check.bats
  website/contents/reference/builtin-commands/config/check.md
Labels: rust, documentation

update docs
  website/contents/reference/builtin-commands/config/check.md
Labels: documentation

fix(`github-releases`): add support for pagination when using the API
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
Labels: rust

update test fixtures
  tests/fixtures/omni/help-config-check-json.txt
  tests/fixtures/omni/help-config-check.txt
Labels: none

fix(`github-releases`): add support for pagination when using the API (#863)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
Labels: rust

fix(`cargo-install` and `go-install`): `--no-cache` now works
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust

clippy fixes
  src/internal/config/up/cargo_install.rs
Labels: rust

fix(`cargo-install` and `go-install`): `--no-cache` now works (#865)
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust

fix(`up`): initialize `omni_now()`
  src/internal/commands/builtin/up.rs
Labels: rust

feat(`auto`): ignore .gitignore'd directories when using `auto`
  src/internal/config/up/mise.rs
Labels: rust

fix(`github-releases`): add support for pagination when using the API (#863)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

fix(`up`): initialize `omni_now()`
  src/internal/commands/builtin/up.rs
Labels: rust

clippy fix
  src/internal/config/up/mise.rs
Labels: rust

feat(`auto`): ignore .gitignore'd directories when using `auto` (#868)
  src/internal/config/up/mise.rs
Labels: rust

fix(`mise`): listing versions now works using the short name
  src/internal/config/up/mise.rs
Labels: rust

feat(`auto`): move the .gitignore'd check to improve speed
  src/internal/config/up/mise.rs
Labels: rust

fix(`mise`): handle URLs for registry plugins
  src/internal/config/up/mise.rs
  src/internal/dynenv.rs
Labels: rust

tests: fix `mise` bats tests
  tests/test_omni_up_python.bats
Labels: none

WIP
  src/internal/cache/github_release.rs
Labels: rust

add logic to append to existing cached releases
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

feat(`github-releases`): ✨ optimize version fetching (#870)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

fix(`(car)?go-install`): `exact: true` w/o cache matches installed
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust

fix(`(car)?go-install`): `exact` without cache matches installed (#871)
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust
