Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(`serde_yaml`): replace deprecated dependency
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

chore(`serde_yaml`): replace deprecated dependency (#808)
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat(`help`): ✨ add `--output` flag which can take `plain` or `json`
  src/internal/cache/utils.rs
  src/internal/commands/builtin/help.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/user_interface/print.rs
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-config-bootstrap-json.txt
  tests/fixtures/omni/help-config-json.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-up-json.txt
  tests/test_omni_help.bats
Labels: rust

clippy fixes
  src/internal/commands/builtin/help.rs
Labels: rust

fix tests
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/test_omni_help.bats
Labels: none

Use the printer for the errors
  src/internal/commands/builtin/help.rs
Labels: rust

regen fixtures for tests
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-config-bootstrap-json.txt
  tests/fixtures/omni/help-config-json.txt
  tests/fixtures/omni/help-up-json.txt
Labels: none

feat(`help`): ✨ add `--output` flag which can take `plain` or `json` (#810)
  src/internal/cache/utils.rs
  src/internal/commands/builtin/help.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/user_interface/print.rs
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-config-bootstrap-json.txt
  tests/fixtures/omni/help-config-json.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-up-json.txt
  tests/test_omni_help.bats
Labels: rust

docs(`cache`): update the cache documentation
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-self.md
Labels: documentation

docs(`cache`): add missing files
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-cargo_install.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-go_install.md
Labels: documentation

fix(`cache`): 🐛 cleanup old versions for uninstalled resources
  src/internal/cache/cargo_install.rs
  src/internal/cache/database/sql/cargo_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/cargo_install_operation_cleanup_versions.sql
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_installed.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_versions.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_versions.sql
  src/internal/cache/github_release.rs
  src/internal/cache/go_install.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
Labels: rust

update test fixtures for new configuration
  tests/fixtures/omni/status-config.txt
Labels: none

update config
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-cargo_install.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-go_install.md
Labels: documentation

fix(`cache`): 🐛 cleanup old versions for uninstalled resources (#811)
  src/internal/cache/cargo_install.rs
  src/internal/cache/database/sql/cargo_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/cargo_install_operation_cleanup_versions.sql
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_installed.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_versions.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_versions.sql
  src/internal/cache/github_release.rs
  src/internal/cache/go_install.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  tests/fixtures/omni/status-config.txt
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-cargo_install.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-go_install.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

fix(`asdf`): 🐛 handle 'auto' versioning when committing dependencies
  src/internal/config/up/asdf_base.rs
Labels: rust

tests: 🧪 add tests for `auto` for the `python` `up` operation
  tests/helpers/asdf.bash
  tests/test_omni_up_python.bats
Labels: none

fix(`go-install`): 🐛 go binary path lacked a `/go` particle
  src/internal/config/up/go_install.rs
Labels: rust

tests(`go-install`): 🧪 fix path of fixture go binary
  tests/test_omni_up_go_install.bats
Labels: none

WIP
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cache/asdf.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/up/github_release.rs
  src/internal/config/utils.rs
Labels: rust

fix(`asdf`): 🧨 disable calls to `asdf update`
  src/internal/cache/asdf_operation.rs
  src/internal/config/up/asdf_base.rs
  tests/helpers/asdf.bash
Labels: rust

fix(shims): 🐛 add missing shims for `go-install` and `cargo-install`
  src/internal/config/up/utils/shims.rs
Labels: rust

WIP
  .omni.yaml
  src/internal/cache/database/sql/asdf_operation_updated_asdf.sql
  src/internal/cache/database/sql/mise_operation_add_installed.sql
  src/internal/cache/database/sql/mise_operation_add_required_by.sql
  src/internal/cache/database/sql/mise_operation_get_plugin_versions.sql
  src/internal/cache/database/sql/mise_operation_get_required_by.sql
  src/internal/cache/database/sql/mise_operation_list_removable.sql
  src/internal/cache/database/sql/mise_operation_remove.sql
  src/internal/cache/database/sql/mise_operation_should_update_mise.sql
  src/internal/cache/database/sql/mise_operation_should_update_plugin.sql
  src/internal/cache/database/sql/mise_operation_updated_mise.sql
  src/internal/cache/database/sql/mise_operation_updated_plugin.sql
  src/internal/cache/database/sql/mise_operation_updated_plugin_versions.sql
  src/internal/cache/database/sql/upgrade_v1_to_v2.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/mise_operation.rs
  src/internal/cache/mod.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/up/base.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/command_ext.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/shims.rs
  src/internal/dynenv.rs
Labels: rust

add missing tools for running tests
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

try to fix tests
  src/internal/config/up/mise.rs
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
Labels: rust

some issue with the commands on linux it seems
  tests/helpers/mise.bash
Labels: none

docs(ci/cd): 📝 add documentation on using omni in CI/CD
  website/contents/tutorials/05-cicd.md
Labels: documentation

docs(ci/cd): 📝 add documentation on using omni in CI/CD (#835)
  website/contents/tutorials/05-cicd.md
Labels: documentation

fix(mise): isolate the local state
  src/internal/config/up/mise.rs
  src/internal/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

WIP
  src/internal/cache/database/sql/mise_operation_add_installed.sql
  src/internal/cache/database/sql/mise_operation_add_required_by.sql
  src/internal/cache/database/sql/mise_operation_cleanup_versions.sql
  src/internal/cache/database/sql/mise_operation_get_plugin_versions.sql
  src/internal/cache/database/sql/mise_operation_get_required_by.sql
  src/internal/cache/database/sql/mise_operation_list_removable.sql
  src/internal/cache/database/sql/mise_operation_remove.sql
  src/internal/cache/database/sql/mise_operation_should_update_plugin.sql
  src/internal/cache/database/sql/mise_operation_updated_plugin.sql
  src/internal/cache/database/sql/mise_operation_updated_plugin_versions.sql
  src/internal/cache/database/sql/upgrade_v1_to_v2.sql
  src/internal/cache/mise_operation.rs
  src/internal/cache/up_environments.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/dynenv.rs
  tests/fixtures/bin/generic.sh
  tests/helpers/mise.bash
  tests/helpers/utils.bash
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-mise.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-mise.md
Labels: rust, documentation

working on tests
  .omni.yaml
  src/internal/config/up/mise.rs
  tests/helpers/mise.bash
  tests/test_config_commands.bats
  tests/test_omni_cd.bats
  tests/test_omni_help.bats
  tests/test_omni_status.bats
  tests/test_omni_tidy.bats
  tests/test_omni_up_custom.bats
  tests/test_omni_up_go_install.bats
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
Labels: rust
