Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

tidy: add delegated auto-completion for the up args
  src/internal/commands/builtin/tidy.rs
Labels: rust

fix(`mise`): 🐛 replace `mise where` by `mise ls --installed`
  src/internal/config/up/mise.rs
Labels: rust

WIP transform
  src/internal/commands/utils.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

fix(`mise`): 🐛 replace `mise where` by `mise ls --installed`
  src/internal/config/up/mise.rs
Labels: rust

Add support for file / dir / repo auto-completion
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/utils.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
Labels: rust

fix tests
  src/internal/config/up/mise.rs
  tests/helpers/mise.bash
Labels: rust

make 'config trust' use the argparser completion
  src/internal/commands/builtin/config/trust.rs
Labels: rust

fix(`mise`): 🐛 replace `mise where` by `mise ls --installed` (#910)
  src/internal/config/up/mise.rs
  tests/helpers/mise.bash
Labels: rust

update comments
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/scope.rs
Labels: rust

clippy fix
  src/internal/config/parser/command_definition.rs
Labels: rust

feat(`argparser`): ✨ add auto-completion support (#911)
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/commands/utils.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
Labels: rust

feat(`up`): ✨ show when the environment is already up to date
  src/internal/cache/database/sql/up_environments_get_workdir_env.sql
  src/internal/cache/up_environments.rs
  src/internal/config/up/base.rs
Labels: rust

fix tests
  src/internal/cache/up_environments.rs
Labels: rust

feat(`up`): ✨ show when the environment is already up to date (#912)
  src/internal/cache/database/sql/up_environments_get_workdir_env.sql
  src/internal/cache/up_environments.rs
  src/internal/config/up/base.rs
Labels: rust

feat(`packages`): ✨ make git updates morre aggressives
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
Labels: rust

move omni up update to use the new class
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/git/updater.rs
Labels: rust

feat(`packages`): ✨ make git updates more aggressive (#913)
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
Labels: rust

fix(`shell integration`): 🐛 fix the bash shell integration
  templates/shell_integration.bash.tmpl
Labels: none

fix(`shell integration`): 🐛 fix the bash shell integration (#914)
  templates/shell_integration.bash.tmpl
Labels: none

fix(`colors`): 🌈 enable colors will check that env vars have a value
  src/internal/user_interface/colors.rs
Labels: rust

refactor
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
Labels: rust

make it work for scope
  src/internal/commands/base.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
Labels: rust

cleanup
  src/internal/commands/builtin/scope.rs
Labels: rust

fix scope
  src/internal/commands/builtin/scope.rs
Labels: rust

make it work for help
  src/internal/commands/builtin/help.rs
Labels: rust

use new struct for storing parameter information for completion
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/frompath.rs
Labels: rust

clippy fixes
  src/internal/commands/builtin/scope.rs
Labels: rust

feat(`argparser`): use `partial` auto-completion for internal commands (#915)
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix(`musl`): 🐛 do the glibc file check before musl
  src/internal/utils/libc.rs
Labels: rust

chore(`musl`): add more files to check
  src/internal/utils/libc.rs
Labels: rust

fix(did you mean): `OMNI_SUBCOMMAND` set to selected command
  src/internal/commands/base.rs
  src/internal/commands/loader.rs
Labels: rust

fix(did you mean): `OMNI_SUBCOMMAND` set to selected command (#924)
  src/internal/commands/base.rs
  src/internal/commands/loader.rs
Labels: rust

feat(`config`): configuration commands can be exported in omnipath
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
Labels: rust

Rewrite commands to be called with status instead of exec
  src/internal/commands/fromconfig.rs
  src/internal/commands/frommakefile.rs
  src/internal/commands/frompath.rs
Labels: rust

make it work
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

add export config + documentation
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  website/contents/reference/configuration/parameters/commands.md
Labels: rust, documentation
