Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(lints): 💅 cargo fixes
  src/internal/config/parser/up_command.rs
  src/internal/config/utils.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(security): 🔒 remove tj-actions/changed-files
  .github/scripts/get-changed-files.sh
  .github/workflows/tests.yaml
Labels: github_actions

chore(security): 🔒 remove tj-actions/changed-files (#995)
  .github/scripts/get-changed-files.sh
  .github/workflows/tests.yaml
Labels: github_actions

chore(security): 🔒 improve changed files script
  .github/scripts/get-changed-files.sh
  .github/workflows/tests.yaml
Labels: github_actions

chore(security): 🔒 fix get-changed-files.sh
  .github/scripts/get-changed-files.sh
Labels: none

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

handle venv with uv too
  src/internal/config/up/python.rs
Labels: rust

feat(python): Use uv for faster Python dependency installation
  Cargo.lock
  Cargo.toml
  src/internal/config/up/golang.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
Labels: rust, dependencies

a few fixes
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
Labels: rust

tests: update to work for uv calls
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
Labels: none

add token to grab the version of uv to avoid api rate limit
  .github/workflows/build-and-test-target.yaml
  tests/test_omni_up_python.bats
Labels: github_actions

try setting the version through an environment variable
  .github/workflows/build-and-test-target.yaml
  tests/test_omni_up_python.bats
Labels: github_actions

add env var
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

use curl instead of gh
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

Do more caching to avoid rate limits during tests
  .github/workflows/build-and-test-target.yaml
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
Labels: github_actions

Add support for which
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

Try inserting with a future date
  tests/test_omni_up_python.bats
Labels: none

revert to fixtures after fixing a INSERT issue
  .github/workflows/build-and-test-target.yaml
  tests/fixtures/astral-sh-uv-versions.txt
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
Labels: github_actions

remove uv from dependencies and just load its binary when needed
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
Labels: rust

fix upgrade handling
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
Labels: rust

add configuration option for the uv version to use
  src/internal/config/parser/up_command.rs
  src/internal/config/up/python.rs
  website/contents/reference/configuration/parameters/up_command.md
Labels: rust, documentation

Add documentation about dependencies management
  website/contents/reference/configuration/parameters/up/python.md
Labels: documentation

docs: sort
  website/contents/reference/configuration/parameters/up/python.md
Labels: documentation

convert uv note to info
  website/contents/reference/configuration/parameters/up/python.md
Labels: documentation

fix fixtures for tests
  tests/fixtures/omni/status-config.txt
Labels: none

remove progress message for uv installation
  src/internal/config/up/python.rs
Labels: rust

feat!(`python`): ✨ default to install dependencies automatically
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
Labels: rust

feat(`python`): ✨ use `uv` for venv and deps management (#1008)
  .github/workflows/build-and-test-target.yaml
  Cargo.lock
  Cargo.toml
  src/internal/config/parser/up_command.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  tests/fixtures/astral-sh-uv-versions.txt
  tests/fixtures/omni/status-config.txt
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
  website/contents/reference/configuration/parameters/up/python.md
  website/contents/reference/configuration/parameters/up_command.md
Labels: rust, documentation, dependencies, github_actions

Update documentation
  website/contents/reference/configuration/parameters/up/python.md
Labels: documentation

feat!(`python`): ✨ default to install dependencies automatically (#1010)
  src/internal/config/up/mise.rs
  src/internal/config/up/python.rs
  website/contents/reference/configuration/parameters/up/python.md
Labels: rust, documentation

chore(docs): increase the width of the github releases tag
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: javascript

chore(docs): replace XaF by xaf
  website/contents/reference/builtin-commands/cd.md
  website/contents/reference/builtin-commands/clone.md
  website/contents/reference/builtin-commands/config/path/switch.md
  website/contents/reference/builtin-commands/scope.md
  website/contents/reference/configuration/environment.md
  website/contents/reference/configuration/parameters/org.md
  website/contents/reference/configuration/parameters/overview.md
  website/contents/reference/configuration/parameters/path.md
  website/contents/reference/configuration/parameters/path_repo_updates/per_repo_config.md
  website/contents/reference/configuration/parameters/repo_path_format.md
  website/contents/reference/configuration/parameters/suggest_clone.md
  website/contents/reference/configuration/parameters/suggest_config.md
  website/contents/reference/configuration/parameters/up/apt.md
  website/contents/reference/configuration/parameters/up/bash.md
  website/contents/reference/configuration/parameters/up/dnf.md
  website/contents/reference/configuration/parameters/up/github-release.md
  website/contents/reference/configuration/parameters/up/homebrew.md
  website/contents/reference/configuration/parameters/up/pacman.md
  website/contents/tutorials/get-started/initial-configuration.md
  website/contents/tutorials/get-started/install.md
  website/contents/tutorials/why-omni.md
  website/docusaurus.config.js
  website/src/css/custom.css
Labels: documentation, javascript

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
