Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

Clippy fixes
  src/internal/config/up/utils.rs
  src/internal/git/updater.rs
Labels: rust

More clippy fixes
  src/internal/config/up/utils.rs
Labels: rust

feat: ✨ save log files when subprocesses fail (#243)
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  src/internal/config/up/utils.rs
  src/internal/git/updater.rs
Labels: rust

chore: use variable
  src/internal/config/up/utils.rs
Labels: rust

feat(updates): ✨ add support for background updates
  Cargo.lock
  Cargo.toml
  src/internal/cache/omnipath.rs
  src/internal/commands/base.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
  src/internal/self_updater.rs
  src/internal/user_interface/mod.rs
  src/internal/user_interface/print.rs
  src/main.rs
Labels: rust, dependencies

Clippy fixes
  src/internal/commands/base.rs
  src/internal/config/parser.rs
  src/internal/git/updater.rs
Labels: rust

Fix
  src/internal/git/updater.rs
Labels: rust

Report errors when 'omni up' fails for a repository
  src/internal/git/updater.rs
Labels: rust

Report the errors only on a shell prompt env hook
  src/internal/git/updater.rs
Labels: rust

Make sure that we don't update the same path twice
  src/internal/cache/omnipath.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/git/updater.rs
  src/internal/workdir.rs
  src/main.rs
Labels: rust

Update docs with extra parameters
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: documentation

remove unused imports
  src/internal/git/mod.rs
  src/main.rs
Labels: rust

clippy fixes
  src/internal/config/parser.rs
  src/internal/git/updater.rs
Labels: rust

feat(updates): ✨ add support for background updates (#244)
  Cargo.lock
  Cargo.toml
  src/internal/cache/omnipath.rs
  src/internal/commands/base.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/config/up/utils.rs
  src/internal/env.rs
  src/internal/git/mod.rs
  src/internal/git/updater.rs
  src/internal/self_updater.rs
  src/internal/user_interface/mod.rs
  src/internal/user_interface/print.rs
  src/internal/workdir.rs
  src/main.rs
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation, dependencies

fea(updater): ✨ pre-auth to hosts to avoid multiple auth queries
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/git/updater.rs
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation

Fix
  src/internal/git/updater.rs
Labels: rust

fea(updater): ✨ pre-auth to hosts to avoid multiple auth queries (#249)
  src/internal/config/config_value.rs
  src/internal/config/parser.rs
  src/internal/git/updater.rs
  website/contents/reference/01-configuration/0102-parameters/010250-path_repo_updates/010250-self.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

fix(path commands): make the exec path accurate
  src/internal/commands/base.rs
  src/internal/commands/frompath.rs
Labels: rust

fix clippy
  src/internal/commands/frompath.rs
Labels: rust

fix(path commands): 🐛 make the exec path accurate (#252)
  src/internal/commands/base.rs
  src/internal/commands/frompath.rs
Labels: rust

feat(path commands): ✨ Add support for metadata files
  src/internal/commands/frompath.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
  website/contents/reference/03-custom-commands/0302-path/030201-metadata-headers.md
Labels: rust, documentation

clippy fix
  src/internal/config/parser.rs
Labels: rust

feat(path commands): ✨ Add support for metadata files (#253)
  src/internal/commands/frompath.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
  website/contents/reference/03-custom-commands/0302-path/030201-metadata-headers.md
Labels: rust, documentation

chore(bootstrap): add autocompletion
  src/internal/commands/builtin/config/bootstrap.rs
Labels: rust

build(trigger brew): 👷 fix token creation
  .github/workflows/release.yaml
Labels: github_actions

docs: 📝 update readme
  README.md
Labels: documentation

feat(homebrew operation): ✨ cache upgraded formula and cask for speed
  src/internal/cache/asdf_operation.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/utils.rs
  src/internal/config/up/homebrew.rs
Labels: rust

feat(homebrew operation): ✨ cache upgraded formula and cask for speed (#257)
  src/internal/cache/asdf_operation.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/utils.rs
  src/internal/config/up/homebrew.rs
Labels: rust

build: 👷 Add semgrep CI
  .github/workflows/semgrep.yaml
Labels: github_actions

feat(homebrew operation): ✨ update PATH with installed formulae
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

Add missing file
  src/internal/config/up/options.rs
Labels: rust

Fix clippy
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/tool.rs
Labels: rust

feat(homebrew operation): ✨ update PATH with installed formulae (#259)
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  website/contents/reference/02-builtin-commands/0250-up.md
Labels: rust, documentation

fix(homebrew operation)!: 🐛 require explicit `cask` mention
  src/internal/config/up/homebrew.rs
Labels: rust

fix(homebrew operation)!: 🐛 require explicit `cask` mention (#260)
  src/internal/config/up/homebrew.rs
Labels: rust

fix(homebrew operation): make sure to clean up the install cache
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/tool.rs
Labels: rust

fix(omni up): 🐛 return code should be 1 on error
  src/internal/commands/builtin/up.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - '**/*.rs'
  - 'Cargo.toml'
  - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - '**/*.js'
  - '**/*.ts'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - 'Cargo.toml'
  - 'Cargo.lock'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - '.github/**/*.yaml'
