Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - '**/*.rs'
  - 'Cargo.toml'
  - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - '**/*.js'
  - '**/*.ts'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - 'Cargo.toml'
  - 'Cargo.lock'
  - 'website/package.json'
  - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - '.github/**/*.yaml'

fix(homebrew operation): 🐛 make sure to clean up the install cache (#266)
  src/internal/cache/homebrew_operation.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/tool.rs
Labels: rust

fix(omni up): 🐛 return code should be 1 on error (#267)
  src/internal/commands/builtin/up.rs
Labels: rust

Fix arg parsing for fish auto-complete
  shell_integration/omni.fish.tmpl
Labels: none

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

fix(shell integration): 🐛 arg parsing for fish auto-complete (#269)
  shell_integration/omni.fish.tmpl
Labels: none

feat(python): ✨🐍 add venv support
  Cargo.lock
  Cargo.toml
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/error.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv.rs
  src/internal/env.rs
Labels: rust, dependencies
