Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

fix clippy
  build.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/tidy.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/tidy.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/up/mise.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/bootstrap.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/git/org.rs
  src/internal/git/updater.rs
Labels: rust

chore(deps): cargo update and fixes
  Cargo.lock
  src/internal/cache/prompts_test.rs
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/bootstrap.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url_test.rs
  src/internal/git/updater.rs
  src/internal/git/utils_test.rs
Labels: rust, dependencies

chore(deps): cargo update and fixes (#1422)
  Cargo.lock
  src/internal/cache/prompts_test.rs
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/loader.rs
  src/internal/config/bootstrap.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url_test.rs
  src/internal/git/updater.rs
  src/internal/git/utils_test.rs
Labels: rust, dependencies

build(auto): fix command to close PR
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
Labels: github_actions

Fix for fs4
  src/internal/config/loader.rs
  src/internal/config/up/utils/up_progress_handler.rs
  src/internal/env.rs
Labels: rust

Fix tera api
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/template.rs
Labels: rust

chore: remove legacy config-value crate
  config-value/Cargo.lock
  config-value/Cargo.toml
  config-value/src/error.rs
  config-value/src/error_handler.rs
  config-value/src/error_handler_test.rs
  config-value/src/extend_strategy.rs
  config-value/src/extend_strategy_test.rs
  config-value/src/lib.rs
  config-value/src/loader.rs
  config-value/src/primitive.rs
  config-value/src/primitive_test.rs
  config-value/src/scope.rs
  config-value/src/source.rs
  config-value/src/transform.rs
  config-value/src/value.rs
  config-value/src/value_test.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
