Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

fix: preserve config behavior after Compote migration
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/compote_loader.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/command_definition_test.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/base.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/go_install_test.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/python_test.rs
  src/internal/config/up/tool.rs
  src/internal/dynenv_test.rs
  src/internal/testutils.rs
  tests/fixtures/omni/config-check-many-issues-json.txt
  tests/fixtures/omni/config-check-many-issues.txt
  tests/test_omni_config_check.bats
  tests/test_omni_up_custom.bats
Labels: rust

docs: refresh manual compote implementation inventory
  COMPOTE_MANUAL_IMPLS.md
Labels: documentation

Fix version differences
  src/internal/commands/builtin/cd.rs
  src/internal/env.rs
Labels: rust

build: move to OIDC token using crates.io's Trusted Publishing
  .github/workflows/release.yaml
Labels: github_actions

style: remove trailing blank lines
  src/internal/config/feuilletage_types.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/makefile_commands.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/prompts.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/cd.rs
  src/internal/config/template.rs
Labels: rust

ci: consolidate cargo maintenance workflows
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-cargo-maintenance.yaml
Labels: github_actions

refactor: complete Feuilletage migration
  Cargo.lock
  Cargo.toml
  FEUILLETAGE_FEATURE_REQUESTS.md
  FEUILLETAGE_MANUAL_IMPLS.md
  OMNI_MIGRATION.md
  REMAINING_MIGRATION_PLAN.md
  src/internal/commands/frompath.rs
  src/internal/config/feuilletage_types.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/command_definition_test.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/python_test.rs
  src/internal/config/up/tool.rs
Labels: rust, documentation, dependencies

test: restore Feuilletage trait alias
  src/internal/config/feuilletage_types.rs
Labels: rust

refactor: clarify Feuilletage trait alias
  src/internal/config/feuilletage_types.rs
  src/internal/config/up/github_release_test.rs
Labels: rust

fix: clean up Feuilletage migration warnings
  Cargo.lock
  Cargo.toml
  src/internal/cache/utils.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/feuilletage_types.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/up/github_release.rs
Labels: rust, dependencies

fix: remove obsolete serde default hook
  src/internal/cache/utils.rs
  src/internal/config/up/github_release.rs
Labels: rust

fix: address PR lint comments
  src/internal/config/feuilletage_types.rs
  src/internal/config/parser/root.rs
  src/internal/config/up/github_release_test.rs
Labels: rust

fix: resolve remaining clippy warnings
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/homebrew.rs
Labels: rust

chore: remove unused humantime dependency
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

feat: use feuilletage home expansion
  Cargo.lock
  Cargo.toml
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/org.rs
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): update cargo dependencies and fixes
  Cargo.lock
  body.md
  commit.txt
Labels: rust, documentation, dependencies

feat: add deterministic config serialization
  Cargo.lock
  Cargo.toml
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/makefile_commands.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/up_command.rs
  tests/fixtures/omni/status-config.txt
Labels: rust, dependencies

Use published feuilletage release in omni
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

Normalize wrapped paths in snapshot tests
  tests/helpers/output.bash
Labels: none

chore: cleanup feuilletage migration files
  FEUILLETAGE_FEATURE_REQUESTS.md
  FEUILLETAGE_MANUAL_IMPLS.md
  OMNI_MIGRATION.md
  REMAINING_MIGRATION_PLAN.md
Labels: documentation

docs(plan): add PLAN/ with audit findings and phased improvement plan
  PLAN/00-findings.md
  PLAN/01-binary-size.md
  PLAN/02-static-linking.md
  PLAN/03-up-lifecycles.md
  PLAN/04-error-reporting.md
  PLAN/05-network-resilience.md
  PLAN/06-runtime-speed.md
  PLAN/07-ux-polish.md
  PLAN/08-ci.md
  PLAN/09-rejected.md
  PLAN/README.md
  PLAN/measurements/README.md
Labels: documentation

ci: fail the build if the binary is not self-sufficient
  .github/scripts/check-static-linking.sh
  .github/workflows/build-and-test-target.yaml
  PLAN/02-static-linking.md
Labels: documentation, github_actions

build: add a dist profile with whole-program optimisation
  Cargo.toml
  PLAN/01-binary-size.md
  PLAN/measurements/a1-profile-dist.txt
Labels: rust, documentation, dependencies

fix(deps): repair dangling syn reference in Cargo.lock
  Cargo.lock
Labels: rust, dependencies

ci: build shipped artifacts with the dist profile
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

docs(plan): record Phase A progress and unplanned findings
  PLAN/README.md
Labels: documentation

build: drop the unused openssl dependency
  Cargo.lock
  Cargo.toml
  PLAN/01-binary-size.md
  PLAN/measurements/a2-openssl-removal.txt
Labels: rust, documentation, dependencies

ci: guard against openssl being reintroduced
  .github/workflows/build-and-test-target.yaml
  PLAN/07-ux-polish.md
  PLAN/README.md
Labels: documentation, github_actions

ci: detect any newly linked native library, not just dynamic ones
  .github/linked-libraries.allow
  .github/scripts/check-linked-libraries.sh
  .github/scripts/check-static-linking.sh
  .github/workflows/build-and-test-target.yaml
  PLAN/02-static-linking.md
  PLAN/README.md
Labels: documentation, github_actions

build: trim zip to deflate-only and force static lzma
  .github/linked-libraries.allow
  Cargo.lock
  Cargo.toml
  PLAN/01-binary-size.md
  PLAN/README.md
  PLAN/measurements/a3-a4-dependency-narrowing.txt
Labels: rust, documentation, dependencies

build: restore zip codecs that cost nothing
  .github/linked-libraries.allow
  Cargo.lock
  Cargo.toml
  PLAN/01-binary-size.md
  PLAN/README.md
  PLAN/measurements/a3-a4-dependency-narrowing.txt
Labels: rust, documentation, dependencies

perf: share one current-thread tokio runtime instead of seven multi-threaded ones
  .DS_Store
  .claude/settings.local.json
  CLAUDE.md
  Cargo.toml
  MISSINGTESTS.md
  REPORT_SHORTEN.md
  next-tasks.txt
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/git/utils.rs
  src/internal/utils/mod.rs
  src/internal/utils/runtime.rs
  urls.txt
  wt/.DS_Store
Labels: rust, documentation, dependencies

build: drop num-bigint, num-integer and the futures facade
  Cargo.lock
  Cargo.toml
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/utils/base62.rs
Labels: rust, dependencies

ci: add binary size and prompt latency gates
  .github/binary-size-baseline.txt
  .github/scripts/bench-hook-env.sh
  .github/scripts/check-binary-size.sh
  .github/workflows/build-and-test-target.yaml
  PLAN/README.md
  PLAN/measurements/a5-a7-and-gates.txt
Labels: documentation, github_actions

docs(plan): record the merge, liblzma removal and pitfall audit
  PLAN/README.md
Labels: documentation

fix(up): render a failed step once instead of two or three times
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/recording_progress_handler.rs
  src/internal/config/up/utils/up_progress_handler.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
