Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

feat(clone): ✨ Add configuration option for `auto_up` (#354)
  src/internal/commands/builtin/clone.rs
  src/internal/config/parser.rs
  website/contents/reference/01-configuration/0102-parameters/010250-clone.md
Labels: rust, documentation

feat(bootstrap): ✨ Do not ask to order orgs if only one (#355)
  src/internal/commands/builtin/config/bootstrap.rs
Labels: rust

feat(env): ✨ better handling of `up` environment variables
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-env.md
Labels: rust, documentation

clippy fixes
  src/internal/config/parser.rs
  src/internal/dynenv.rs
Labels: rust

feat(env): ✨ better handling of `up` environment variables (#359)
  src/internal/cache/up_environments.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
  src/internal/dynenv.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-env.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

fix(config value): 🐛 missing check made the tool panic
  src/internal/config/config_value.rs
Labels: rust

fix(config value): 🐛 missing check made the tool panic (#362)
  src/internal/config/config_value.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

build(auto pr): 👷 put secrets in env vars to get github app token
  .github/workflows/auto-pr-cargo-dependencies.yaml
  .github/workflows/auto-pr-cargo-fixes.yaml
  .github/workflows/auto-pr-yarn-dependencies.yaml
Labels: github_actions

build(tests): 👷 use 'gh' to auto-merge Dependabot pull requests
  .github/workflows/tests.yaml
Labels: github_actions

build(dependabot): 👷 fix call to gh for automerge
  .github/workflows/tests.yaml
Labels: github_actions

build(dependabot): 👷 fix `gh` command
  .github/workflows/tests.yaml
Labels: github_actions

build(dependabot): 👷 fix 'gh' command with pr number
  .github/workflows/tests.yaml
Labels: github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

fix(bootstrap): 🐛 flush config
  src/internal/config/bootstrap.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
Labels: rust

fix(bootstrap): 🐛 flush config (#371)
  src/internal/config/bootstrap.rs
  src/internal/config/loader.rs
  src/internal/config/parser.rs
Labels: rust

fix(cd): 🐛 fast search now works without org set
  src/internal/commands/builtin/status.rs
  src/internal/config/parser.rs
  src/internal/git/org.rs
Labels: rust

clippy fixes
  src/internal/git/org.rs
Labels: rust

fix(cd): 🐛 fast search now works without org set (#379)
  src/internal/commands/builtin/status.rs
  src/internal/config/parser.rs
  src/internal/git/org.rs
Labels: rust

fix(help): 🐛 colors are now stripped when disabled
  src/internal/commands/builtin/help.rs
  src/internal/user_interface/colors.rs
  src/internal/user_interface/print.rs
Labels: rust

clippy fixes
  src/internal/user_interface/colors.rs
  src/internal/user_interface/print.rs
Labels: rust

fix(help): 🐛 colors are now stripped when disabled (#380)
  src/internal/commands/builtin/help.rs
  src/internal/user_interface/colors.rs
  src/internal/user_interface/print.rs
Labels: rust

build(tests): 👷 add bats tests
  .github/workflows/build-and-test-target.yaml
  tests/helpers/utils.bash
  tests/test_omni_cd.bats
  tests/test_omni_help.bats
  tests/test_omni_tidy.bats
Labels: github_actions

Add test updates to trigger new builds
  .github/workflows/tests.yaml
Labels: github_actions

Add config output for debugging
  tests/helpers/utils.bash
Labels: none

limit builds for testing
  .github/workflows/build.yaml
Labels: github_actions

print env
  tests/test_omni_cd.bats
  tests/test_omni_help.bats
  tests/test_omni_tidy.bats
Labels: none

still investigating
  tests/helpers/utils.bash
Labels: none

Show bats version
  .github/workflows/build-and-test-target.yaml
  .omni.yaml
  tests/test_omni_cd.bats
  tests/test_omni_help.bats
  tests/test_omni_tidy.bats
Labels: github_actions

urgh
  tests/test_omni_help.bats
Labels: none

urgh
  tests/test_omni_help.bats
Labels: none

urgh
  src/internal/config/loader.rs
Labels: rust

urgh
  src/internal/config/loader.rs
Labels: rust

unset XDG env vars
  src/internal/config/loader.rs
  tests/helpers/utils.bash
Labels: rust

unset XDG env vars
  tests/test_omni_help.bats
Labels: none

re-enable all tests
  .github/workflows/build.yaml
Labels: github_actions

another fix
  tests/helpers/utils.bash
Labels: none

Use perl instead of sed
  tests/test_omni_cd.bats
Labels: none

install git for containers
  .github/workflows/build-and-test-target.yaml
Labels: github_actions
