Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/config/config_value.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix error handling
  src/internal/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat: migrate file editing to use compote's Config API
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/sandbox.rs
  src/internal/config/config_value.rs
  src/internal/config/loader.rs
  src/internal/config/mod.rs
  src/internal/self_updater.rs
Labels: rust

feat: migrate tidy.rs and up.rs from config_value to compote
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/loader.rs
  src/internal/config/parser/path.rs
Labels: rust

refactor: use compote's split_by_key instead of select_keys in up.rs
  src/internal/commands/builtin/up.rs
Labels: rust

refactor: clean up deprecated ConfigValue code after compote migration
  src/internal/commands/builtin/up.rs
  src/internal/config/loader.rs
Labels: rust

feat: add compote error mapping to ConfigErrorKind
  config-value/Cargo.toml
  config-value/src/error.rs
Labels: rust

feat: add From impls for ConfigSource and ConfigScope to compote types
  src/internal/config/config_value.rs
Labels: rust

refactor(suggest_config): remove old parse_config_value, use compote only
  src/internal/config/parser/suggest_config.rs
Labels: rust

refactor(env): remove bridge method, use compote directly
  src/internal/config/parser/env.rs
  src/internal/config/up/github_release.rs
Labels: rust

refactor(suggest_clone): remove old from_config_value, use compote only
  src/internal/config/parser/suggest_clone.rs
Labels: rust

refactor(prompts): remove old from_config_value methods, use compote only
  src/internal/config/parser/prompts.rs
Labels: rust

refactor(command_definition): use compote FromConfigValue directly
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/command_definition_test.rs
Labels: rust

refactor: use compote::Error as CompoteError
  config-value/src/error.rs
  src/internal/config/compote_loader.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
Labels: rust

feat: add compote_types module with type aliases for compote integration
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/compote_types.rs
  src/internal/config/config_value.rs
  src/internal/config/mod.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/command_definition_test.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
Labels: rust

docs: update compote_types.rs documentation for generic FromContextValue
  src/internal/config/compote_types.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

refactor: update for compote sealed trait pattern
  src/internal/config/compote_types.rs
  src/internal/config/loader.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

refactor: convert Phase 1 FromContextValue impls to derive macros
  COMPOTE_MANUAL_IMPLS.md
  src/internal/config/parser/github.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/nodejs.rs
Labels: rust, documentation

feat: convert UpConfigGoInstall to compote derive macro
  src/internal/config/up/go_install.rs
  src/internal/config/up/go_install_test.rs
Labels: rust

refactor: simplify UpConfigGoInstalls using transparent + field attributes
  src/internal/config/up/go_install.rs
Labels: rust

refactor: use order_by instead of post_process for sorting
  src/internal/config/up/go_install.rs
Labels: rust

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lint): fix for new rust version
  src/internal/git/org.rs
Labels: rust

chore(lint): fix for new rust version (#1301)
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

refactor: convert UpConfigGolang to compote derive macro
  COMPOTE_MANUAL_IMPLS.md
  src/internal/config/up/golang.rs
Labels: rust, documentation

refactor: convert CheckPattern and CheckConfig to compote derive
  src/internal/config/parser/check.rs
Labels: rust

refactor: convert ShellAliasesConfig, UpConfigCustom, and UpConfigNix to compote derive
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/nix.rs
Labels: rust
