Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

feat(github release): ✨ configurable github auth token (#688)
  src/internal/config/parser/github.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/01-configuration/0102-parameters/0102-overview.md
  website/contents/reference/01-configuration/0102-parameters/010250-github.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(variant): add 'osx' as a variant of darwin
  src/internal/self_updater.rs
Labels: rust

chore(variant): add 'osx' as a variant of darwin (#690)
  src/internal/self_updater.rs
Labels: rust

feat(github release): ✨ suppport extended architectures with rosetta
  src/internal/cache/github_release.rs
  src/internal/self_updater.rs
Labels: rust

update docs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: documentation

feat(github release): ✨ suppport extended architectures with rosetta (#691)
  src/internal/cache/github_release.rs
  src/internal/self_updater.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
Labels: rust, documentation

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix(go): 🐛 go dynenv now sets GOBIN env var
  src/internal/dynenv.rs
Labels: rust

fix(go): 🐛 go dynenv now sets GOBIN env var (#709)
  src/internal/dynenv.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(up)!: add --upgrade parameter
  src/internal/commands/builtin/up.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/tool.rs
Labels: rust

latest now matches only the last major when upgrade is disabled
  src/internal/commands/utils.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/utils/version.rs
Labels: rust

Remove unneeded default
  src/internal/config/up/tool.rs
Labels: rust

fix
  src/internal/config/up/asdf_base.rs
Labels: rust

fix
  src/internal/config/up/asdf_base.rs
Labels: rust

add upgrade=false calls in test
  tests/test_omni_up_python.bats
Labels: none

fix progress message for python venv
  src/internal/config/up/python.rs
Labels: rust

some fixes following tests
  .github/workflows/build.yaml
  src/internal/config/parser/up_command.rs
  tests/test_omni_up_python.bats
Labels: rust, github_actions

update documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-bash.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-ruby.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-rust.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-terraform.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: documentation

clippy fix
  src/internal/config/parser/up_command.rs
Labels: rust

add / update the homebrew tests
  tests/test_omni_up_homebrew.bats
Labels: none

fix omni help test
  tests/test_omni_help.bats
Labels: none

feat(up)!: add `--upgrade` parameter (#723)
  .github/workflows/build.yaml
  src/internal/commands/builtin/up.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/version.rs
  tests/test_omni_help.bats
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-bash.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-ruby.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-rust.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-terraform.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation, github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

docs: fix table
  website/contents/reference/01-configuration/0103-environment.md
Labels: documentation

docs: add link to the custom configuration commands from the commands parameter
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: documentation

WIP
  Cargo.toml
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/commands/utils.rs
  src/internal/commands/void.rs
  src/internal/config/mod.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
Labels: rust, dependencies

feat(argparser): ✨ omni can now parse arguments for custom commands
  .omni.yaml
  Cargo.toml
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/commands/utils.rs
  src/internal/commands/void.rs
  src/internal/config/mod.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/mod.rs
Labels: rust, dependencies

Add alias to do clippy stuff
  .omni.yaml
  src/internal/config/parser/command_definition.rs
Labels: rust
