Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(deps): update cargo dependencies (#1232)
  Cargo.lock
Labels: rust, dependencies

build(cosign): fix signature for cosign v3
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/sandbox.rs
  src/internal/commands/builtin/sandbox_test.rs
  src/internal/config/loader.rs
  src/internal/config/up/github_release.rs
  src/internal/git/parsed_repo_url.rs
Labels: rust

wip
  src/internal/cache/database/upgrade.rs
  src/internal/cache/up_environments.rs
  src/internal/config/parser/cache/up_environment.rs
Labels: rust

wip
  src/internal/cache/up_environments.rs
  src/internal/config/parser/cache/up_environment.rs
Labels: rust

sql
  src/internal/cache/database/sql/up_environments_close_missing_workdir.sql
  src/internal/cache/database/sql/up_environments_get_stale_open_workdir_ids.sql
  src/internal/cache/database/sql/up_environments_update_last_seen_at.sql
  src/internal/cache/database/sql/upgrade_v4_to_v5.sql
Labels: none

rename param + edit sql
  src/internal/cache/database/sql/up_environments_get_stale_open_workdir_ids.sql
  src/internal/cache/up_environments.rs
  src/internal/config/parser/cache/up_environment.rs
Labels: rust

add tests
  src/internal/cache/database/sql/up_environments_get_stale_open_workdir_ids.sql
  src/internal/cache/up_environments_test.rs
Labels: rust

update docs
  src/internal/cache/up_environments.rs
  src/internal/cache/up_environments_test.rs
  website/contents/reference/configuration/parameters/cache/environment.md
  website/contents/reference/configuration/parameters/cache/self.md
Labels: rust, documentation

update fixture
  tests/fixtures/omni/status-config.txt
Labels: none

feat(`cache`): clean stale environment versions after 6 months by default (#1235)
  src/internal/cache/database/sql/up_environments_close_missing_workdir.sql
  src/internal/cache/database/sql/up_environments_get_stale_open_workdir_ids.sql
  src/internal/cache/database/sql/up_environments_update_last_seen_at.sql
  src/internal/cache/database/sql/upgrade_v4_to_v5.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/up_environments_test.rs
  src/internal/config/parser/cache/up_environment.rs
  tests/fixtures/omni/status-config.txt
  website/contents/reference/configuration/parameters/cache/environment.md
  website/contents/reference/configuration/parameters/cache/self.md
Labels: rust, documentation

wip
  Cargo.toml
  config-value/Cargo.lock
  config-value/Cargo.toml
  config-value/src/error.rs
  config-value/src/error_handler.rs
  config-value/src/extend_strategy.rs
  config-value/src/extend_strategy_test.rs
  config-value/src/lib.rs
  config-value/src/loader.rs
  config-value/src/primitive.rs
  config-value/src/primitive_test.rs
  config-value/src/scope.rs
  config-value/src/source.rs
  config-value/src/transform.rs
  config-value/src/value.rs
  config-value/src/value_test.rs
  src/internal/config/config_value.rs
Labels: rust, dependencies

wip
  config-value/src/primitive.rs
  config-value/src/value.rs
  config-value/src/value_test.rs
  src/internal/config/config_value.rs
Labels: rust

wip json and yaml sorting
  config-value/src/primitive.rs
  config-value/src/value.rs
  src/internal/config/config_value.rs
  src/internal/config/mod.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/check.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/mise.rs
  src/internal/self_updater.rs
Labels: rust

wip remove warnings
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/config/config_value.rs
  src/internal/config/mod.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/mod.rs
Labels: rust

wip api loader
  Cargo.lock
  config-value/Cargo.toml
  config-value/src/lib.rs
  config-value/src/loader.rs
  config-value/src/primitive.rs
  src/internal/config/loader.rs
Labels: rust, dependencies

wip
  config-value/src/loader.rs
  src/internal/config/loader.rs
Labels: rust

wip require exists and valid
  config-value/src/lib.rs
  config-value/src/loader.rs
  config-value/src/value_test.rs
  src/internal/config/loader.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

wip config-value
  config-value/src/loader.rs
  config-value/src/value.rs
  config-value/src/value_test.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/config/loader.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/self_updater.rs
Labels: rust

Support parsing properly Git URLs without owner
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust

support git url id without owner
  src/internal/env.rs
  src/internal/git/utils.rs
Labels: rust

fix id_from_git_url function
  src/internal/env.rs
  src/internal/git/utils.rs
Labels: rust

add tests
  src/internal/git/utils_test.rs
Labels: rust

clippy
  src/internal/git/utils.rs
Labels: rust

fix(parsing): repositories with a name but no owner were leading to failure to parse (#1242)
  src/internal/env.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/parsed_repo_url_test.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
Labels: rust

chore(lints): 💅 cargo fixes
  src/internal/cache/up_environments_test.rs
  src/internal/git/parsed_repo_url_test.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/base.rs
  src/internal/config/config_value.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies
