Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

fix all blockers
  .omni.yaml
  src/internal/cache/repositories.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/fromconfig.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/path.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/utils/version.rs
  src/internal/env.rs
  src/internal/git/org.rs
  src/internal/user_interface/colors.rs
Labels: rust

chore(libgit2): vendor the library
  .github/workflows/build-and-test-target.yaml
  Cargo.toml
Labels: rust, dependencies, github_actions

chore(libgit2): vendor the library (#550)
  .github/workflows/build-and-test-target.yaml
  Cargo.toml
Labels: rust, dependencies, github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix: 🐛 `env` config parameter of type `path` now resolves properly
  src/internal/config/parser/env.rs
Labels: rust

fix: 🐛 `env` config parameter of type `path` now resolves properly (#565)
  src/internal/config/parser/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(repo_path_format): ✨ can be configured per organization
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/org.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/utils.rs
  website/contents/reference/01-configuration/0102-parameters/010250-org.md
Labels: rust, documentation

clippy fix
  src/internal/git/utils.rs
Labels: rust

docs(talk): 📝 add JotB 2024 video
  website/contents/tutorials/01-why-omni.md
Labels: documentation

clippy fix
  src/internal/git/utils.rs
Labels: rust

fix doc link
  website/contents/reference/01-configuration/0102-parameters/010250-org.md
Labels: documentation

docs(talk): 📝 add JotB 2024 video (#569)
  website/contents/tutorials/01-why-omni.md
Labels: documentation

feat(node): ✨ support reading version from .nvmrc
  src/internal/config/up/nodejs.rs
Labels: rust

feat(repo_path_format): ✨ can be configured per organization (#568)
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/org.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/utils.rs
  website/contents/reference/01-configuration/0102-parameters/010250-org.md
Labels: rust, documentation

feat(node): ✨ support reading version from .nvmrc (#570)
  src/internal/config/up/nodejs.rs
Labels: rust

docs(node): add `.nvmrc` as part of the files read for `auto`
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
Labels: documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(askpass): show command requiring authentication
  src/internal/config/template.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/progress_handler.rs
  templates/askpass.sh.tmpl
Labels: rust

fix
  src/internal/config/template.rs
  src/internal/config/up/utils/askpass.rs
  templates/askpass.sh.tmpl
Labels: rust

update conditional to only apply to ssh
  templates/askpass.sh.tmpl
Labels: none

clippy fixes
  src/internal/config/template.rs
Labels: rust

fix error message
  src/internal/config/template.rs
Labels: rust

fix missed clippy
  src/internal/config/up/utils/progress_handler.rs
Labels: rust

feat(askpass): show command requiring authentication (#580)
  src/internal/config/template.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/progress_handler.rs
  templates/askpass.sh.tmpl
Labels: rust

feat(askpass): add `enable_gui` configuration
  src/internal/config/parser/askpass.rs
  src/internal/config/up/utils/askpass.rs
  templates/askpass.sh.tmpl
  website/contents/reference/01-configuration/0102-parameters/010250-askpass.md
Labels: rust, documentation

feat(askpass): add `enable_gui` configuration (#582)
  src/internal/config/parser/askpass.rs
  src/internal/config/up/utils/askpass.rs
  templates/askpass.sh.tmpl
  website/contents/reference/01-configuration/0102-parameters/010250-askpass.md
Labels: rust, documentation

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(up): save last `up` head commit
  src/internal/commands/builtin/up.rs
  src/internal/env.rs
Labels: rust

feat(up): save last `up` head commit (#585)
  src/internal/commands/builtin/up.rs
  src/internal/env.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies
