Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(`mise`): replace empty `unwrap()` calls
  src/internal/config/up/mise.rs
Labels: rust

chore: clippy fix
  src/internal/config/up/nodejs.rs
Labels: rust

fix(`config check`): 🐛 config-specified negative pattern
  src/internal/config/parser/check.rs
Labels: rust

fix(`config check`): 🐛 pattern locality
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/check.rs
  src/internal/config/utils.rs
Labels: rust

update docs
  website/contents/reference/configuration/parameters/check.md
Labels: documentation

fix(`config check`): 🐛 pattern locality (#890)
  src/internal/commands/builtin/config/check.rs
  src/internal/config/parser/check.rs
  src/internal/config/utils.rs
  website/contents/reference/configuration/parameters/check.md
Labels: rust, documentation

fix(`shims`): 🐛 handle case insensitive file systems
  src/internal/config/up/utils/shims.rs
Labels: rust

feat(github-release`): ✨ prioritize non-dist releases
  src/internal/cache/github_release.rs
Labels: rust

feat(`github-release`): ✨ prioritize non-dist releases (#894)
  src/internal/cache/github_release.rs
Labels: rust

fix(`shims`): 🐛 handle case insensitive file systems (#893)
  src/internal/config/up/utils/shims.rs
Labels: rust

feat(`github-release`): ✨ Add flags to prefer-or-not `dist`/prefer-or-not `musl`
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

feat(`github-release`): ✨ Add flags to prefer-or-not `dist`/prefer-or-not `musl` (#895)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

feat(`self-update`): add `omni --self-update` support
  src/internal/git/updater.rs
  src/internal/self_updater.rs
  src/main.rs
Labels: rust

fix(`github-release`): 🐛 revert malus for `dist` and `musl`
  src/internal/cache/github_release.rs
Labels: rust

feat(`self-update`): add `omni --self-update` support (#898)
  src/internal/git/updater.rs
  src/internal/self_updater.rs
  src/main.rs
Labels: rust

fix(`github-release`): 🐛 detect the lib version needed (musl/libc)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/utils/libc.rs
  src/internal/utils/mod.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

format
  src/internal/utils/libc.rs
Labels: rust

fix logic for the ldd check
  src/internal/utils/libc.rs
Labels: rust

fix(`github-release`): 🐛 detect the lib version needed (musl/libc) (#899)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/utils/libc.rs
  src/internal/utils/mod.rs
  website/contents/reference/configuration/parameters/up/github-release.md
Labels: rust, documentation

feat(`github-release`): ✨ support extracting `.tar.xz` archives
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust, dependencies

feat(`github-release`): ✨ support extracting `.tar.xz` archives (#900)
  Cargo.lock
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix(`go-install`): 🐛 add `GOROOT` and `GOVERSION` env vars for bin
  src/internal/config/up/go_install.rs
Labels: rust

fix(`go-install`): 🐛 add `GOROOT` and `GOVERSION` env vars for bin (#903)
  src/internal/config/up/go_install.rs
Labels: rust

WIP
  src/internal/commands/base.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

wip
  src/internal/commands/base.rs
Labels: rust

fix(`github-release`): 🐛 allow for downloads from private repos
  src/internal/cache/database/sql/upgrade_v2_to_v3.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

rename variable
  src/internal/config/up/github_release.rs
Labels: rust

fix(`github-release`): 🐛 allow for downloads from private repos (#907)
  src/internal/cache/database/sql/upgrade_v2_to_v3.sql
  src/internal/cache/database/upgrade.rs
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
Labels: rust

wip
  src/internal/commands/base.rs
Labels: rust

build(`cosign`): 👷 update signature verification since repo name change
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

convert builtin commands to use the argparser autocompletion
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/hook/uuid.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
Labels: rust

progress
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
Labels: rust

add support for conflicts the other way
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
Labels: rust

handle more conflicts
  src/internal/commands/base.rs
Labels: rust

better conflict management
  src/internal/commands/base.rs
Labels: rust

Add support for path autocompletion
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/utils.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/frompath.rs
  src/internal/commands/utils.rs
Labels: rust

add todo notes
  src/internal/commands/base.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
