Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

clean up some dead code
  src/internal/cache/mise_operation.rs
  src/internal/commands/base.rs
  src/internal/commands/loader.rs
  src/internal/config/config_value.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/dynenv.rs
  src/internal/git/org.rs
Labels: rust

clippy fixes
  src/internal/config/up/mise.rs
  src/internal/config/up/nodejs.rs
Labels: rust

update test
  tests/fixtures/omni/status-config.txt
Labels: none

feat(`up`): allow to configure `mise` version
  src/internal/config/parser/up_command.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

update test fixture for status
  tests/fixtures/omni/status-config.txt
Labels: none

feat(`up`): allow to configure `mise` version (#842)
  src/internal/config/parser/up_command.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  tests/fixtures/omni/status-config.txt
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

Update build-and-test-target.yaml
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

try by updating some stuff in cargo
  Cargo.lock
  Cargo.toml
Labels: rust, dependencies

Revert "chore(deps): bump houseabsolute/actions-rust-cross from 0 to 1 (#836)"
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

build(`cross`): 👷 fix for `actions-rust-cross`'s v1
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

build(`cross`): 👷 fix for `actions-rust-cross`'s v1 (#847)
  .github/workflows/build-and-test-target.yaml
Labels: github_actions

WIP supply chain
  src/internal/config/parser/up_command.rs
  src/internal/config/up/mise.rs
Labels: rust

WIP
  src/internal/config/parser/up_command.rs
Labels: rust

add checks
  src/internal/config/parser/up_command.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
Labels: rust

fixes
  src/internal/config/parser/up_command.rs
  src/internal/config/up/mise.rs
Labels: rust

add handling of default plugin source for mise
  src/internal/config/up/mise.rs
Labels: rust

work on tests
  src/internal/config/up/mise.rs
  tests/test_omni_up_python.bats
Labels: rust

tests
  src/internal/config/parser/up_command.rs
  src/internal/config/up/mise.rs
  tests/helpers/mise.bash
  tests/test_omni_up_python.bats
Labels: rust

add more tests
  src/internal/config/parser/up_command.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  tests/test_omni_up_custom.bats
  tests/test_omni_up_go_install.bats
Labels: rust

Add more checks for other operations
  src/internal/config/up/bundler.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
Labels: rust

add documentation
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: documentation

fix doc block
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: documentation

feat(`up`): ✨ add supply-chain checks (#848)
  src/internal/config/parser/up_command.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nix.rs
  tests/helpers/mise.bash
  tests/test_omni_up_custom.bats
  tests/test_omni_up_go_install.bats
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: rust, documentation

fix(`mise`): 🐛 add the `mise` binary in the `PATH` for `mise` commands
  src/internal/config/up/mise.rs
Labels: rust

clippy fix
  src/internal/config/up/mise.rs
Labels: rust

fix(`mise`): 🐛 add the `mise` binary in the `PATH` for `mise` commands (#851)
  src/internal/config/up/mise.rs
Labels: rust

finish intrumenting config
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
Labels: rust

WIP
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  src/internal/config/parser/cache/homebrew.rs
  src/internal/config/parser/cache/mise.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/config_commands.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/match_skip_prompt_if_config.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/up/github_release.rs
  src/internal/config/utils.rs
Labels: rust

working on the frompath errors
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

WIP+
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/frompath.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/makefile_commands.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
Labels: rust

WIP
  src/internal/commands/frompath.rs
  src/internal/config/parser/errors.rs
Labels: rust

rename valuetype error to invalidvaluetype
  src/internal/commands/frompath.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/python.rs
  src/internal/config/utils.rs
Labels: rust

rename found to actual
  src/internal/commands/frompath.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/github.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/path.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/parser/shell_aliases.rs
  src/internal/config/parser/suggest_clone.rs
  src/internal/config/parser/suggest_config.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/python.rs
  src/internal/config/utils.rs
Labels: rust

WIP omni config check command
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/config/mod.rs
  src/internal/commands/builtin/mod.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/loader.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/omniconfig.rs
Labels: rust

wip
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/omniconfig.rs
  src/internal/config/parser/root.rs
Labels: rust

wip check command
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/config/loader.rs
Labels: rust

Add --select and --ignore parameters
  src/internal/commands/builtin/config/check.rs
Labels: rust

wip
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/errors.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/utils.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies
