Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(self-update): support disabled updates
  Cargo.toml
  src/internal/cache/github_release.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/up/github_release.rs
  src/internal/env.rs
  src/internal/mod.rs
  src/internal/self_updater.rs
Labels: rust, dependencies

Add missing file
  src/internal/build.rs
Labels: rust

few fixes
  src/internal/config/up/github_release.rs
Labels: rust

feat(self-update): support disabled updates (#1111)
  Cargo.toml
  src/internal/build.rs
  src/internal/cache/github_release.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/up/github_release.rs
  src/internal/env.rs
  src/internal/mod.rs
  src/internal/self_updater.rs
Labels: rust, dependencies

chore: add missing file
  src/internal/disabled_self_updater.rs
Labels: rust

WIP
  src/internal/self_updater.rs
  src/internal/utils/file_download.rs
  src/internal/utils/mod.rs
Labels: rust

Add filtering of releases
  src/internal/config/parser/path_repo_updates.rs
  src/internal/self_updater.rs
  src/internal/utils/file_download.rs
Labels: rust

fixes after some tests
  src/internal/self_updater.rs
Labels: rust

Check the version before brew upgrade
  src/internal/self_updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/build.rs
  src/internal/cache/github_release.rs
Labels: rust

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/builtin/hook/base.rs
Labels: rust

allow dead code in colors
  src/internal/user_interface/colors.rs
Labels: rust

only load the void progress manager for tests
  src/internal/config/up/utils/mod.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

Convert the rest of the tests
  src/internal/cache/cargo_install.rs
  src/internal/cache/cargo_install_test.rs
  src/internal/cache/github_release.rs
  src/internal/cache/github_release_test.rs
  src/internal/cache/go_install.rs
  src/internal/cache/go_install_test.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/homebrew_operation_test.rs
  src/internal/cache/migration/predatabase.rs
  src/internal/cache/migration/predatabase_test.rs
  src/internal/cache/mise_operation.rs
  src/internal/cache/mise_operation_test.rs
  src/internal/cache/omnipath.rs
  src/internal/cache/omnipath_test.rs
  src/internal/cache/prompts.rs
  src/internal/cache/prompts_test.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/up_environments_test.rs
  src/internal/cache/workdirs.rs
  src/internal/cache/workdirs_test.rs
  src/internal/commands/frompath.rs
  src/internal/commands/frompath_test.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/command_definition_test.rs
Labels: rust

WIP
  src/internal/config/parser/check.rs
  src/internal/config/parser/check_test.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/parser/up_command_test.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/cargo_install_test.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/custom_test.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/go_install_test.rs
  src/internal/config/up/python.rs
  src/internal/config/up/python_test.rs
  src/internal/config/up/utils/version.rs
  src/internal/config/up/utils/version_test.rs
  src/internal/config/utils.rs
  src/internal/config/utils_test.rs
  src/internal/dynenv.rs
  src/internal/dynenv_test.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(lints): 💅 cargo fixes
  src/internal/cache/cargo_install_test.rs
  src/internal/cache/github_release_test.rs
  src/internal/cache/go_install_test.rs
  src/internal/cache/homebrew_operation_test.rs
  src/internal/cache/migration/predatabase_test.rs
  src/internal/cache/mise_operation_test.rs
  src/internal/cache/omnipath_test.rs
  src/internal/cache/prompts_test.rs
  src/internal/cache/up_environments_test.rs
  src/internal/cache/workdirs_test.rs
  src/internal/commands/frompath_test.rs
  src/internal/config/parser/check_test.rs
  src/internal/config/parser/up_command_test.rs
  src/internal/config/up/cargo_install_test.rs
  src/internal/config/up/custom_test.rs
  src/internal/config/up/github_release_test.rs
  src/internal/config/up/go_install_test.rs
  src/internal/config/up/python_test.rs
  src/internal/config/up/utils/version_test.rs
  src/internal/config/utils_test.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

feat(gitignore): handle ignoring from workdir root
  src/internal/config/up/mise.rs
  src/internal/git/mod.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
Labels: rust

isolate tests to avoid tmpdir conflicts
  src/internal/cache/up_environments_test.rs
  src/internal/git/utils_test.rs
  src/internal/testutils.rs
Labels: rust

Improve .omni.yaml
  .omni.yaml
Labels: none

remove debug message
  src/internal/git/utils.rs
Labels: rust

feat(gitignore): handle ignoring from workdir root (#1150)
  .omni.yaml
  src/internal/cache/up_environments_test.rs
  src/internal/config/up/mise.rs
  src/internal/git/mod.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
  src/internal/testutils.rs
Labels: rust

chore(typo): rename test module
  src/internal/git/utils.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

WIP
  src/internal/cache/prompts.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/template.rs
  src/internal/errors.rs
  src/internal/git/mod.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/updater.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
Labels: rust

WIP
  src/internal/cache/prompts.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/prompts.rs
  src/internal/config/template.rs
  src/internal/env.rs
  src/internal/errors.rs
  src/internal/git/org.rs
  src/internal/git/parsed_repo_url.rs
  src/internal/git/updater.rs
  src/internal/git/utils.rs
  src/internal/git/utils_test.rs
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
