Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

docs(metadata): add details for the `opt` and `arg` parameters (#766)
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation

feat(up): make environments versioned
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/handler.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/convert.rs
  src/internal/cache/migration/mod.rs
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/mod.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/utils.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/env.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/directory.rs
  src/internal/dynenv.rs
  src/internal/git/org.rs
Labels: rust

clippy fixes and missing file
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/up_environments.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/up_command.rs
Labels: rust

test fixes
  src/internal/cache/up_environments.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/homebrew.rs
Labels: rust

fix clippy matches macro
  src/internal/config/up/github_release.rs
Labels: rust

fix too many args
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/python.rs
Labels: rust

remove generate_version_id func
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/up_environments.rs
Labels: rust

fix tests
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/up_environments.rs
Labels: rust

refactor(`up`): ♻️ make environments versioned (#767)
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/handler.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/convert.rs
  src/internal/cache/migration/mod.rs
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/mod.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/utils.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/directory.rs
  src/internal/dynenv.rs
  src/internal/git/org.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/package.json
  website/yarn.lock
Labels: javascript, dependencies

refactor(builtin): now use the same argparser as for custom commands
  .omni.yaml
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/parse_args_value.rs
  src/internal/env.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-up.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
Labels: rust

clippy fixes
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/parse_args_value.rs
Labels: rust

update documentation
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation

more docs update
  website/contents/reference/01-configuration/0103-environment.md
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
Labels: documentation

feat(): add support for as arm64 arch format
  src/internal/self_updater.rs
Labels: rust

feat(`argparser`): the `placeholders` can now allow multiple values
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  tests/test_omni_help.bats
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: rust, documentation

clippy fixes
  src/internal/config/parser/command_definition.rs
Labels: rust

update fixtures
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-path.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-tidy.txt
Labels: none

feat(`argparser`): the `placeholders` can now allow multiple values (#773)
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-path.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-tidy.txt
  tests/test_omni_help.bats
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: rust, documentation

feat(`github-release`): improvements to arch pattern matching
  src/internal/cache/github_release.rs
  src/internal/self_updater.rs
Labels: rust

clippy fix
  src/internal/cache/github_release.rs
Labels: rust

update comment
  src/internal/cache/github_release.rs
Labels: rust

fix tests
  src/internal/config/up/github_release.rs
Labels: rust

feat(`github-release`): improvements to arch pattern matching (#778)
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

feat(`custom`): add support for adding environment variables
  Cargo.lock
  Cargo.toml
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/fifo_handler.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
Labels: rust, dependencies

clippy fixes
  src/internal/config/up/custom.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/listener_manager.rs
Labels: rust

Add tests and documentation
  src/internal/config/up/custom.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: rust, documentation

remove flakiness, add tests
  src/internal/config/up/custom.rs
  src/internal/config/up/utils/fifo_handler.rs
  src/internal/config/up/utils/mod.rs
  tests/helpers/utils.bash
  tests/test_omni_up_custom.bats
Labels: rust

add tests for single arrow too
  tests/test_omni_up_custom.bats
Labels: none

tests(config command): add missing bats tests
  tests/test_config_commands.bats
Labels: none

fix test
  src/internal/config/up/custom.rs
Labels: rust

avoid wrapping help messages
  tests/test_config_commands.bats
Labels: none

tests(config command): add missing bats tests (#786)
  tests/test_config_commands.bats
Labels: none

add more debugging for dynenv in tests
  tests/test_omni_up_custom.bats
Labels: none

work on tests
  tests/test_omni_up_custom.bats
Labels: none

fix: skip cache migration if file is empty
  src/internal/cache/migration/pre0029.rs
Labels: rust

try fixing for linux
  src/internal/config/up/utils/fifo_handler.rs
  tests/helpers/utils.bash
Labels: rust

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'
