Repository XaF/omni, changes with the labels that .github/labeler.yaml gives for each.
All labels: rust, documentation, javascript, dependencies, github_actions

.github/labeler.yaml:

# Add the rust label if any *.rs file is modified
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

# Add the documentation label if any *.md file is modified
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'

# Add the javascript label if any *.js or *.ts file is modified
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - '**/*.ts'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the dependencies label if Cargo.lock, Cargo.toml,
# package.json or yarn.lock are modified
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'website/package.json'
      - 'website/yarn.lock'

# Add the github_actions label if any change to github_actions
github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*.yaml'

Clippy fix
  src/internal/commands/base.rs
  src/internal/commands/loader.rs
Labels: rust

start adding help
  src/internal/config/parser/command_definition.rs
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
  website/contents/reference/03-custom-commands/0302-path/0302-self.md
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
  website/contents/reference/03-custom-commands/0302-path/030202-autocompletion.md
  website/contents/tutorials/03-set-up-a-repository/0302-make-commands-available.md
Labels: rust, documentation

more help
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation

Add file for the argument parser
  website/contents/reference/03-custom-commands/0302-path/030201-argument-parser.md
Labels: documentation

Add way to generate test fixtures for help
  .omni.yaml
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-long-config-command-10.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-up.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
  tests/helpers/utils.bash
  tests/test_omni_help.bats
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation

Add missing help commands
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-bootstrap.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-path.txt
  tests/fixtures/omni/help-config-reshim.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook-uuid.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-long-config-command-10.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-up.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
  tests/test_omni_help.bats
Labels: rust

Regenerate help fixtures after fixing the arg types for builtin commands
  src/internal/commands/builtin/clone.rs
  src/internal/commands/void.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-bootstrap.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-path.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-up.txt
Labels: rust

Add more documentation
  website/contents/reference/01-configuration/0103-environment.md
  website/contents/reference/03-custom-commands/0302-path/030201-argument-parser.md
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
Labels: documentation

add line returns for command line
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
Labels: documentation

move go example up
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
Labels: documentation

Add ruby language to docusaurus
  website/docusaurus.config.js
Labels: javascript

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

fix: minor UX fixes
  src/internal/commands/builtin/help.rs
  src/internal/config/parser/command_definition.rs
Labels: rust

Update Emacs configuration instructions
  website/contents/tutorials/04-ide-integration.md
Labels: documentation

docs(ide): update Emacs configuration instructions (#741)
  website/contents/tutorials/04-ide-integration.md
Labels: documentation

fix(help): show short arguments in usage
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-custom-command.txt
  tests/test_omni_help.bats
Labels: rust

fix(help): show short arguments in usage (#742)
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-custom-command.txt
  tests/test_omni_help.bats
Labels: rust

fix(python): replace lzma with xz when using nix
  src/internal/config/up/asdf_base.rs
  tests/test_omni_up_python.bats
Labels: rust

Sort build inputs
  src/internal/config/up/asdf_base.rs
  tests/test_omni_up_python.bats
Labels: rust

fix(python): replace lzma with xz when using nix (#743)
  src/internal/config/up/asdf_base.rs
  tests/test_omni_up_python.bats
Labels: rust

Install bats
  .omni.yaml
Labels: none

Use `any` instead of `or`
  .omni.yaml
Labels: none

chore(deps): Install bats using omni (#745)
  .omni.yaml
Labels: none

chore(deps): 📦 cargo update
  Cargo.lock
Labels: rust, dependencies

chore(deps): 📦 yarn update
  website/yarn.lock
Labels: javascript, dependencies

refactor(SyntaxOptArg): takes a single list of names
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/void.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
Labels: rust

chore(deps): always upgrade rust, use asdf for bats
  .omni.yaml
Labels: none

refactor(SyntaxOptArg): takes a single list of names (#748)
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/void.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
Labels: rust

fix(github releases): remove uninstalled github releases from cache
  src/internal/config/up/github_release.rs
Labels: rust

fix retain to use mutable retain
  src/internal/config/up/github_release.rs
Labels: rust

fix(github releases): remove uninstalled github releases from cache (#754)
  src/internal/config/up/github_release.rs
Labels: rust

fix(env): path environment variables work for packages
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/path.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/path.rs
  src/internal/git/updater.rs
Labels: rust

fix(env): path environment variables work for packages (#759)
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/path.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/path.rs
  src/internal/git/updater.rs
Labels: rust

fix(self update): trim homebrew prefix from binary
  src/internal/env.rs
Labels: rust

fix(self update): trim homebrew prefix from binary (#761)
  src/internal/env.rs
Labels: rust

fix(self update): handle cases where sudo is required
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/self_updater.rs
Labels: rust

change condition
  src/internal/self_updater.rs
Labels: rust

fix(self update): handle cases where sudo is required (#765)
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/self_updater.rs
Labels: rust

docs(metadata): add details for the `opt` and `arg` parameters
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation
