Repository xaf/omni, pull requests merged in 2024-11, with the labels that each got.

#748 refactor(SyntaxOptArg): takes a single list of names
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/commands/void.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
Labels: rust

#759 fix(env): path environment variables work for packages
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/path.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/path.rs
  src/internal/git/updater.rs
Labels: bug, rust

#761 fix(self update): trim homebrew prefix from binary
  src/internal/env.rs
Labels: bug, rust

#765 fix(self update): handle cases where sudo is required
  src/internal/env.rs
  src/internal/git/updater.rs
  src/internal/self_updater.rs
Labels: enhancement, rust

#766 docs(metadata): add details for the `opt` and `arg` parameters
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
Labels: documentation

#767 refactor(`up`): ♻️ make environments versioned
  src/internal/cache/asdf_operation.rs
  src/internal/cache/github_release.rs
  src/internal/cache/handler.rs
  src/internal/cache/homebrew_operation.rs
  src/internal/cache/migration/convert.rs
  src/internal/cache/migration/mod.rs
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/cache/mod.rs
  src/internal/cache/up_environments.rs
  src/internal/cache/utils.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/up.rs
  src/internal/config/parser/cache/mod.rs
  src/internal/config/parser/cache/root.rs
  src/internal/config/parser/cache/up_environment.rs
  src/internal/config/parser/env.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/base.rs
  src/internal/config/up/bundler.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/nix.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/directory.rs
  src/internal/dynenv.rs
  src/internal/git/org.rs
Labels: rust

#771 refactor(builtin commands): ♻️ use the same argument parser as for custom commands
  .omni.yaml
  src/internal/commands/base.rs
  src/internal/commands/builtin/cd.rs
  src/internal/commands/builtin/clone.rs
  src/internal/commands/builtin/config/bootstrap.rs
  src/internal/commands/builtin/config/path/switch.rs
  src/internal/commands/builtin/config/reshim.rs
  src/internal/commands/builtin/config/trust.rs
  src/internal/commands/builtin/help.rs
  src/internal/commands/builtin/hook/base.rs
  src/internal/commands/builtin/hook/env.rs
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/scope.rs
  src/internal/commands/builtin/status.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  src/internal/config/parser/mod.rs
  src/internal/config/parser/parse_args_value.rs
  src/internal/env.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-long-config-command-100.txt
  tests/fixtures/omni/help-long-config-command-1000.txt
  tests/fixtures/omni/help-long-config-command-50.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-unfold.txt
  tests/fixtures/omni/help-up.txt
  tests/fixtures/omni/help-wrapped-60.txt
  tests/fixtures/omni/help.txt
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
  website/contents/reference/01-configuration/0103-environment.md
  website/contents/reference/03-custom-commands/0302-path/030201-metadata.md
  website/contents/reference/03-custom-commands/0302-path/030203-argument-parser.md
Labels: documentation, rust

#773 feat(`argparser`): the `placeholders` can now allow multiple values
  src/internal/commands/builtin/hook/init.rs
  src/internal/commands/builtin/up.rs
  src/internal/commands/frompath.rs
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-path.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-config.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-tidy.txt
  tests/test_omni_help.bats
  website/contents/reference/01-configuration/0102-parameters/010250-commands.md
Labels: documentation, rust

#778 feat(`github-release`): improvements to arch pattern matching
  src/internal/cache/github_release.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: rust

#785 feat(`custom`): add support for adding environment variables
  .github/workflows/build-and-test-target.yaml
  Cargo.lock
  Cargo.toml
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/askpass.rs
  src/internal/config/up/utils/fifo_handler.rs
  src/internal/config/up/utils/listener_manager.rs
  src/internal/config/up/utils/mod.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/config/up/utils/run_config.rs
  tests/helpers/utils.bash
  tests/test_omni_up_custom.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: documentation, dependencies, github_actions, rust

#788 feat(`custom`): allow custom operations to add work directory binaries
  src/internal/cache/up_environments.rs
  src/internal/config/up/custom.rs
  src/internal/config/up/error.rs
  src/internal/config/up/tool.rs
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-custom.md
Labels: documentation, rust

#790 fix(cleanup): correctly delete symlinks
  src/internal/config/up/utils/directory.rs
Labels: rust

#801 feat(`argparser`): support using `--arg=PLACEHOLDER`
  src/internal/config/parser/command_definition.rs
Labels: enhancement, rust

#802 chore(`binstall`): add metadata for binstall
  Cargo.toml
Labels: dependencies, rust

#803 chore(`serde_yaml`): replace deprecated dependency
  Cargo.lock
  Cargo.toml
Labels: dependencies, rust

#804 chore(@-version): handle @-version as exact matching
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/go_install.rs
  tests/test_omni_up_go_install.bats
Labels: rust

#808 chore(`serde_yaml`): replace deprecated dependency
  Cargo.lock
  Cargo.toml
Labels: dependencies, rust

#810 feat(`help`): ✨ add `--output` flag which can take `plain` or `json`
  src/internal/cache/utils.rs
  src/internal/commands/builtin/help.rs
  src/internal/config/up/utils/progress_handler.rs
  src/internal/user_interface/print.rs
  tests/fixtures/omni/help-cd-json.txt
  tests/fixtures/omni/help-config-bootstrap-json.txt
  tests/fixtures/omni/help-config-json.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-json.txt
  tests/fixtures/omni/help-unfold-json.txt
  tests/fixtures/omni/help-up-json.txt
  tests/test_omni_help.bats
Labels: rust

#811 fix(`cache`): 🐛 cleanup old versions for uninstalled resources
  src/internal/cache/cargo_install.rs
  src/internal/cache/database/sql/cargo_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/cargo_install_operation_cleanup_versions.sql
  src/internal/cache/database/sql/create_tables.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_installed.sql
  src/internal/cache/database/sql/github_release_operation_cleanup_versions.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_installed.sql
  src/internal/cache/database/sql/go_install_operation_cleanup_versions.sql
  src/internal/cache/github_release.rs
  src/internal/cache/go_install.rs
  src/internal/config/parser/cache/cargo_install.rs
  src/internal/config/parser/cache/github_release.rs
  src/internal/config/parser/cache/go_install.rs
  tests/fixtures/omni/status-config.txt
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-cargo_install.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-github_release.md
  website/contents/reference/01-configuration/0102-parameters/010250-cache/010250-go_install.md
Labels: bug, documentation, rust
