Repository xaf/omni, pull requests merged in 2024-10, with the labels that each got.

#723 feat(up)!: add `--upgrade` parameter
  .github/workflows/build.yaml
  src/internal/commands/builtin/up.rs
  src/internal/commands/utils.rs
  src/internal/config/config_value.rs
  src/internal/config/parser/askpass.rs
  src/internal/config/parser/cd.rs
  src/internal/config/parser/clone.rs
  src/internal/config/parser/org.rs
  src/internal/config/parser/path_repo_updates.rs
  src/internal/config/parser/up_command.rs
  src/internal/config/up/asdf_base.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/golang.rs
  src/internal/config/up/homebrew.rs
  src/internal/config/up/mod.rs
  src/internal/config/up/nodejs.rs
  src/internal/config/up/options.rs
  src/internal/config/up/python.rs
  src/internal/config/up/tool.rs
  src/internal/config/up/utils/version.rs
  tests/test_omni_help.bats
  tests/test_omni_up_homebrew.bats
  tests/test_omni_up_python.bats
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-asdf.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-bash.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-github-release.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-go.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-homebrew.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-node.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-python.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-ruby.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-rust.md
  website/contents/reference/01-configuration/0102-parameters/010250-up/010250-terraform.md
  website/contents/reference/01-configuration/0102-parameters/010250-up_command.md
Labels: documentation, enhancement, github_actions, rust

#741 Update Emacs configuration instructions
  website/contents/tutorials/04-ide-integration.md
Labels: documentation

#742 fix(help): show short arguments in usage
  src/internal/config/parser/command_definition.rs
  tests/fixtures/omni/help-custom-command.txt
  tests/test_omni_help.bats
Labels: bug, rust

#743 fix(python): replace lzma with xz when using nix
  src/internal/config/up/asdf_base.rs
  tests/test_omni_up_python.bats
Labels: rust
