Repository xaf/omni, pull requests merged in 2025-02, with the labels that each got.

#926 feat(`config`): configuration commands can be exported in omnipath
  src/internal/commands/base.rs
  src/internal/commands/builtin/config/check.rs
  src/internal/commands/fromconfig.rs
  src/internal/commands/frompath.rs
  src/internal/commands/loader.rs
  src/internal/config/parser/command_definition.rs
  website/contents/reference/configuration/parameters/commands.md
Labels: documentation, enhancement, rust

#929 feat(void command): support `-h` and `--help` for auto-generated commands
  src/internal/commands/builtin/scope.rs
  src/internal/commands/loader.rs
  src/main.rs
Labels: enhancement, rust

#930 feat(`package`): ✨ use `git rev-list` to check if packages are up to date
  src/internal/git/updater.rs
Labels: enhancement, rust

#931 feat(`github release`): ✨ support for per-os/per-arch asset matching
  src/internal/cache/github_release.rs
  src/internal/config/parser/github.rs
  src/internal/config/up/github_release.rs
  src/internal/self_updater.rs
Labels: enhancement, rust

#940 feat(`github release`): ✨ distinguish install configurations
  src/internal/config/up/github_release.rs
Labels: enhancement, rust

#948 fix: 🐛 handle renames safely when not on same device
  src/internal/cache/migration/pre0015.rs
  src/internal/cache/migration/pre0029.rs
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/go_install.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
Labels: rust

#949 fix(`node`): 🐛 dynamic environment was not loaded properly
  src/internal/dynenv.rs
Labels: bug, rust

#950 feat(`ruby` and `rust`): ✨ add install isolation
  src/internal/commands/builtin/tidy.rs
  src/internal/config/up/cargo_install.rs
  src/internal/config/up/github_release.rs
  src/internal/config/up/mise.rs
  src/internal/config/up/utils/directory.rs
  src/internal/dynenv.rs
Labels: enhancement, rust

#954 fix(`ruby`): 🐛 remove `rubygems_plugin.rb` file after mise install
  src/internal/config/up/mise.rs
Labels: bug, rust

#955 feat(`help`): ✨ show `-h`/`--help` flags for argparser-enabled commands
  src/internal/commands/base.rs
  src/internal/commands/builtin/help.rs
  tests/fixtures/omni/help-cd.txt
  tests/fixtures/omni/help-clone.txt
  tests/fixtures/omni/help-config-bootstrap.txt
  tests/fixtures/omni/help-config-check.txt
  tests/fixtures/omni/help-config-path-switch.txt
  tests/fixtures/omni/help-config-reshim.txt
  tests/fixtures/omni/help-config-trust.txt
  tests/fixtures/omni/help-config-untrust.txt
  tests/fixtures/omni/help-down.txt
  tests/fixtures/omni/help-help.txt
  tests/fixtures/omni/help-hook-env.txt
  tests/fixtures/omni/help-hook-init.txt
  tests/fixtures/omni/help-hook-uuid.txt
  tests/fixtures/omni/help-hook.txt
  tests/fixtures/omni/help-scope.txt
  tests/fixtures/omni/help-status.txt
  tests/fixtures/omni/help-tidy.txt
  tests/fixtures/omni/help-up.txt
Labels: rust
